.article {
  background-color: whitesmoke;
  padding-top: 3rem;

  @include span(11);
  @include push(.5);

  @media (max-width: 500px) {
    padding-top: 1rem;
    @include span(11.8);
    @include push(.1);
    }

  &-info {
    @include span(8.75);
    @include push(1.50);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }

    text-align: center;
  }

  &-header {
    margin-bottom: 2.5em;

    &__title {
      font-size: 2em;
      margin-bottom: 1.7em;
      @media (max-width: 500px) {
        line-height: 1.1em;
      }
      a {
        border-bottom: 0;
      }
    }

    &__date {
      text-align: center;
    }

    &__issue {
      @include align-self(flex-start);
      font-family: 'Druk-Wide-Medium', sans-serif;
      font-size: .8em;
      text-align: left;
      margin-bottom: 5em;
    }

    &__contributor {
      font-family: 'Druk-Wide-Medium', sans-serif;
      font-size: .8em;
      margin-bottom: 7em;
      text-decoration: underline;
    }

    &__summary {
      font-size: 1.7em;
      line-height: 1.3em;
    }
  }

  &-more {
    font-size: 75%;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .025em;
    white-space: nowrap;
    border-bottom: 2px solid #71efac;
  }
}

.article-printed {
  @include align-self(flex-end);
  position: absolute;
  top: 6.6rem;
  right: 0;

  @media (max-width: 500px) {
      display: none;
    }

  figure {
    line-height: 0;
  }

  &__cover {
    height: auto;
    width: 8em;
    padding: 1em;
  }

  &__info {
    min-width: 9em;
    max-width: 9em;
    padding: .5em;

    p {
      color: white;
      font-family: 'Druk-Wide-Medium', sans-serif;
      font-size: .5em;
      line-height: 2em;
    }
  }
}

.article-share {
  @include span(8.75);
  @include push(1.50);
  padding-bottom: 2em;
  color: grey;

  a {
    color: grey;
  }

  @media (max-width: 500px) {
      @include span(11);
      @include push(.5);
      font-size: .8em;
    }
}

.article {
  .text {
    @include span(9.65);
    @include push(2.35);
    margin-bottom: 3em;

    @media (max-width: 500px) {
        @include span(full inside no-gutters);
        @include push(0);
      }
  }

  .text h2, .text h3 {
    @include span(7);
    font-family: 'Graphik-Medium', sans-serif;
    margin-bottom: 1em;

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text ul, .text ol {
    @include span(7);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text p {
    @include span(7);
    margin-bottom: 1em;

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text figure:first-of-type {
    @include span(9);
    @include pull(1);
    margin-bottom: 1em;

    @media (max-width: 500px) {
        @include span(12);
        @include push(0);
      }
  }

  .text figure {
    @include span(7);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }

    margin-bottom: 1em;
    figcaption {
      font-family: 'Druk-Wide-Medium', sans-serif;
      font-size: .8em;
      text-decoration: underline;
    }
  }

  .text hr {
    /* We use a more muted style for horizontal rules within
       the main content. */
    color: #1f00ff
  }

  .text ul {
    @include span(7);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text ol > li {
    list-style: decimal;
  }

  .text pre, .text code {
    @include span(7);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text blockquote {
    @include span(8);
    @include pull(1);
    font-size: 1.4em;
    line-height: 1.8em;
    margin-bottom: 0;

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }

    p {
      @include span(12);
      font-size: 1.5em;
      margin-top: .4em;

      @media (max-width: 500px) {
          margin-left: 0;
        }
    }
  }

  .article-end {
    margin-bottom: 3em;

    &__contributor {
      h2 {
        font-family: 'Druk-Wide-Medium', sans-serif;
        font-size: .8em;
        text-decoration: underline;
      }
      h2:hover {
        text-decoration: none;
      }
    }

    &__printed, &__uploaded {
      font-family: 'Druk-Wide-Medium', sans-serif;
      margin-bottom: 0 !important;
      font-size: .8em;
      line-height: 1.5em;
    }
  }

}
