.article {
  background-color: whitesmoke;
  margin-top: 3em;

  @include span(11);
  @include push(.5);

  @media (max-width: 500px) {
    padding-top: 1rem;
    @include span(11.8);
    @include push(.1);
    }

  &-info {
    @include span(9);
    @include push(1.5);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  &-header {
    margin-top: 6em;
    margin-bottom: 6em;

    &__title {
      font-size: 2.5em;
      line-height: 1em;
      @media (max-width: 500px) {
        line-height: 2.5em;
      }
    }

    &__subtitle {
      font-size: 2.5em;
      line-height: 1em;
    }

    &__contributor {
      font-size: 2.5em;
      line-height: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
      a {
        text-decoration: none !important;
      }
      a:after {
        content: ","
      }
      a:last-of-type:after {
        content: ""
      }
    }

    &__date {
      text-align: center;
    }

    &__meta {
      display: inline-block;
      @include align-self(flex-start);
      font-size: .7em;
      margin-right: 3em;
    }
  }

  &-more {
    font-size: 75%;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .025em;
    white-space: nowrap;
    border-bottom: 2px solid #71efac;
  }
}

.article-printed {
  @include align-self(flex-end);
  position: absolute;
  top: 3em;
  right: 0;

  @media (max-width: 500px) {
      display: none;
    }

  figure {
    line-height: 0;
  }

  &__cover {
    height: auto;
    width: 8em;
    padding: 1em;
  }

  &__info {
    min-width: 9em;
    max-width: 9em;
    padding: .5em;

    p {
      color: white;
      font-family: 'Druk-Wide-Medium', sans-serif;
      font-size: .5em;
      line-height: 2em;
    }
  }
}

.article {
  .text {
    @include span(9);
    @include push(1.5);
    margin-bottom: 3em;

    @media (max-width: 500px) {
        @include span(full inside no-gutters);
        @include push(0);
      }
  }

  .text h2, .text h3 {
    @include span(8.5);
    @include push(1.75);
    font-family: 'Graphik-Medium', sans-serif;
    margin-bottom: 1em;
    text-transform: uppercase;

    @media (max-width: 500px) {
      @include span(full inside no-gutters);
      @include push(0);
      }
  }

  .text ul, .text ol {
    @include span(7);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text p {
    @include span(8.5);
    @include push(1.75);
    margin-bottom: 1em;

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text figure:first-of-type {
    @include span(12);
    @include push(0);
    margin-bottom: 1em;

    @media (max-width: 500px) {
        @include span(12);
        @include push(0);
      }
  }

  .text figure {
    @include span(8.5);
    @include push(1.75);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }

    margin-bottom: 1em;
    figcaption {
      font-family: 'Druk-Wide-Medium', sans-serif;
      font-size: .8em;
      text-decoration: underline;
    }
  }

  .text hr {
    @include span(8);
    @include push(2);
    margin-bottom: 1.8em;
    height: 1px;
    background: black;
    border: 0;
  }

  .text ul {
    @include span(7);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text ol > li {
    list-style: decimal;
  }

  .text pre, .text code {
    @include span(7);

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }
  }

  .text blockquote {
    @include span(10.25);
    font-size: 1.4em;
    line-height: 1.8em;
    margin-bottom: 0;

    @media (max-width: 500px) {
        @include span(11);
        @include push(.5);
      }

    p {
      @include span(12);
      font-size: 1.5em;
      margin-top: .4em;
      margin-left: 0;

      @media (max-width: 500px) {
          margin-left: 0;
        }
    }
  }

  .article-end {

    &__contributor {
        @include span(8.5);
        @include push(1.75);

      a {
        font-family: 'Druk-Wide-Medium', sans-serif;
        font-size: .8em;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }
    }

    &__printed, &__uploaded {
      font-family: 'Druk-Wide-Medium', sans-serif;
      margin-bottom: 0 !important;
      font-size: .8em;
      line-height: 1.5em;
    }
  }

  .article-end-share {
    p {
      text-align: center;
      font-size: 1.2em;
      margin-top: 2em;
      a {
        padding: .3em;
      }
    }
  }
} // .article .text
