.card-large, .card-large-portrait {
  background-color: white;
  margin: 1em 1em 1em 1em;
  @include box-shadow(lightgrey 0 0 1em);

  a {
    color: black;
    text-decoration: none;
  }
  &:hover, &:focus {
    @include box-shadow($strikeMainColor 0 0 1.6em);
  }
  &-info {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);

    &__title {
      margin-bottom: .75em;
      span {
        font-family: 'Graphik-BoldItalic', sans-serif;
      }
    }
    &__title, &__contributors {
      font-family: 'Graphik-Bold', sans-serif;
      font-size: 1.5em;
      line-height: 1.05em;
      letter-spacing: -0.02em;
    }
    &__contributor {
      display: inline-block;
      padding-right: .15em;
      &::after {
          content: ",";
      }
      &:last-of-type::after {
          content: "";
      }
    }
    &__issue {
      font-family: 'Space Mono', monospace;
      color: #979797;
      font-size: .7em;
      padding: 0 1.2rem .7rem 1.2rem;
    }
    &__summary {
      line-height: 1.42em;
      font-size: .7em;
    }
  }
}

.card-large {
  width: 400px;
  height: 100%;

  &-image {
    figure img {
      display: block;
    }
  }
  &-info {
    height: 266px;

    &__group {
      padding: .8rem 1.2rem 0 1.2rem;
    }
  }
}

.card-large-portrait {
  width: 500px;

  a {
    @include display-flex;
    @include flex-direction(row);
  }

  &-image {
    width: 50%;
    figure {
      img {
        display: block;;
      }
    }
  }
  &-info {
    width: 50%;

    &__group {
      padding: .8rem 1.2rem 0 1.2rem;
    }
  }
}

@media screen and (max-width: 1440px) {
  .card-large {
    width: 485px;
    &-info {
      height: 323.33px;
    }
  }
  .card-large-portrait {
    width: 646.66px;
  }
}
@media screen and (max-width: 1200px) {
  .card-large {
    width: 406.4px;
    &-info {
      height: 270.25px;
    }
  }
  .card-large-portrait {
    width: 540.5px;
  }
}
@media screen and (max-width: 960px) {
  .card-large, .card-large-portrait {
    &-info {
      &__title, &__contributors {
        font-size: 1.3em;
      }
    }
  }
  .card-large {
    width: 325.14px;
    &-info {
      height: 216.2px;
    }
  }
  .card-large-portrait {
    width: 432.4px;
  }
}
@media screen and (max-width: 768px) {
  // .card-large, .card-large-portrait {
  //   &-info {
  //     &__title, &__contributors {
  //       font-size: 1.1em;
  //     }
  //   }
  // }
  // .card-large {
  //   width: 258.75px;
  //   &-info {
  //     height: 172.5px;
  //   }
  // }
  // .card-large-portrait {
  //   width: 345px;
  // }
  .card-large, .card-large-portrait {
    &-info {
      &__title, &__contributors {
        font-size: 1.75em;
      }
    }
  }
  .card-large {
    width: 406.4px;
    &-info {
      height: 270.25px;
    }
  }
  .card-large-portrait {
    width: 540.5px;
  }
}
@media screen and (max-width: 450px) {
  .card-large, .card-large-portrait {
    margin: 0 0 1.3em 0;
    &-info {
      &__title, &__contributors {
        font-size: 1.3em;
        font-size: 6vw;
      }
    }
  }
  .card-large {
    width: 100%;
    &-info {
      height: 11.9rem;
      height: 60vw;
      // padding: 1em 1.3em 1em 1.3em;
    }
  }
  .card-large-portrait {
    width: 100%;
    a {
      flex-direction: column;
    }
    &-image {
      width: 100%;
    }
    &-info {
      width: 100%;
      height: 11.9rem;
      height: 55.8vw;
    }
  }
}
