.card-large {
  width: 16.7em;
  height: 100%;
  background-color: white;
  margin: 2em 1em 1em 1em;
  padding-left: 0;
  padding-right: 0;

  a {
    color: black;
    text-decoration: none;
  }

  &-image {
    figure img {
      display: block;
    }
  }
  &-info {
    height: 11.5em;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    margin: .5em .8em .8em .8em;

    &__group {
      top: 0.6em;
      right: 0.8em;
      bottom: 0.8em;
      left: 0.8em;
    }

    &__title {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: .5em;
    }
    &__contributor {
      font-family: 'Druk-Wide-Medium', sans-serif;
      text-align: center;
      font-size: .8em;
      text-decoration: underline;
      &::after {
          content: ",";
      }
      &:last-of-type::after {
          content: "";
      }
    }
    &__issue {
      font-family: 'Druk-Wide-Medium', sans-serif;
      font-size: .8em;
      margin-bottom: 2.5em;
    }
    &__summary {
      line-height: 1.2em;
      font-size: .8em;
    }
  }
}

.portrait {
  @extend .card-large;
  width: 32.4em;
  height: 23em;
  a {
    @include display-flex;
    @include flex-direction(row-reverse);
    .card-large-image {
    height: 23em;
      figure img {
        display: block;
        min-height: 23em;
      }
    }
    .card-large-info {
      width: 50%;
      min-height: 21.8em;
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-between);
      margin: .5em .8em .8em .8em;
    }
  }
}

.card-small {
  width: 15em;
  height: 100%;
  background-color: white;
  margin: 2em 1em 1em 1em;
  padding-left: 0;
  padding-right: 0;

  a {
    color: black;
    text-decoration: none;
  }

  &-image {
    figure img {
      display: block;
    }
  }
  &-info {
    height: 15em;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    margin: .5em .8em .8em .8em;

    &__group {
      top: 0.6em;
      right: 0.8em;
      bottom: 0.8em;
      left: 0.8em;
    }

    &__title {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: .5em;
    }
    &__contributor {
      font-family: 'Druk-Wide-Medium', sans-serif;
      text-align: center;
      font-size: .8em;
      text-decoration: underline;
      &::after {
          content: ",";
      }
      &:last-of-type::after {
          content: "";
      }
    }
    &__issue {
      font-family: 'Druk-Wide-Medium', sans-serif;
      font-size: .8em;
      margin-bottom: 2.5em;
    }
    &__summary {
      line-height: 1.2em;
      font-size: .8em;
    }
  }
}
