// Landscape cards, same top and bottom, scalable
.card-large {
  width: 400px;
  height: 100%;
  background-color: white;
  // margin: 0 1em 2em 1em;
  margin: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  @include box-shadow(lightgrey 0 0 1em);

  a {
    color: black;
    text-decoration: none;
  }

  &:hover, &:focus {
    @include box-shadow($strikeMainColor 0 0 1.6em);
  }

  &-image {
    figure img {
      display: block;
    }
  }
  &-info {
    height: 16.3vw;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);

    &__group {
      padding: .5em .8em 0 .8em;
    }

    &__title {
      font-family: 'Graphik-Bold', sans-serif;
      font-size: 1.35em;
      // font-size: 1.875vw;
      margin-left: 0;
    }
    &__contributor {
      font-family: 'Graphik-BoldItalic', sans-serif;
      font-size: 1.35em;
      // font-size: 1.875vw;
      &::after {
          content: ",";
          margin-left: -.2em;
      }
      &:last-of-type::after {
          content: "";
      }
    }
    &__issue {
      font-size: .7em;
      padding: 0 .8em 1em .8em;
    }
    &__summary {
      line-height: 1.42em;
      font-size: .7em;
    }
  }
}

@media screen and (max-width: 1440px) {
  .card-large {
    width: 400px;
    &-info {
      height: 266px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .card-large {
    width: 375px;
    &-info {
      height: 250px;
    }
  }
}
@media screen and (max-width: 960px) {
  .card-large {
    width: 315px;
    &-info {
      height: 210px;
    }
  }
}
@media screen and (max-width: 768px) {
  .card-large {
    width: 247.5px;
    &-info {
      height: 165px;
    }
  }
}
@media screen and (max-width: 450px) {
  .card-large {
    width: 100%;
    &-info {
      height: 53.2vw;
      // padding: 1em 1.3em 1em 1.3em;
    }
  }
}

.card-large-portrait {
  width: 500px;
  background-color: white;
  // margin: 0 1em 2em 1em;
  margin: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  @include box-shadow(lightgrey 0 0 1em);

  a {
    color: black;
    text-decoration: none;
    @include display-flex;
    @include flex-direction(row);
  }

  &:hover, &:focus {
    @include box-shadow($strikeMainColor 0 0 1.6em);
  }

  &-image {
    width: 50%;
    figure {
      img {
        display: block;;
      }
    }
  }
  &-info {
    width: 50%;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);

    &__group {
      margin: .5em .8em .8em .8em;
    }

    &__title {
      font-family: 'Graphik-Bold', sans-serif;
      font-size: 1.35em;
      // font-size: 1.875vw;
      margin-left: 0;
      p {
        span {
          font-family: 'Graphik-BoldItalic', sans-serif;
          &::before {
            content: " :";
          }
        }
      }
    }
    &__contributor {
      font-family: 'Graphik-BoldItalic', sans-serif;
      font-size: 1.35em;
      // font-size: 1.875vw;
      &::after {
          content: ",";
          margin-left: -.2em;
      }
      &:last-of-type::after {
          content: "";
      }
    }
    &__issue {
      font-size: .7em;
      // font-size: .9723vw;
      margin: .5em .8em .8em .8em;
    }
    &__summary {
      line-height: 1.42em;
      font-size: .7em;
    }
  }
}

@media screen and (max-width: 1440px) {
  .card-large-portrait {
    width: 532px;
  }
}
@media screen and (max-width: 1200px) {
  .card-large-portrait {
    width: 500px;
  }
}
@media screen and (max-width: 960px) {
  .card-large-portrait {
    width: 420px;
  }
}
@media screen and (max-width: 768px) {
  .card-large-portrait {
    width: 330px;
  }
}
@media screen and (max-width: 450px) {
  .card-large-portrait {
    width: 100%;
    &-info {
      height: 53.2vw;
      // padding: 1em 1.3em 1em 1.3em;
    }
  }
}
