.alphabet-letter {
  width: 100%;
  font-family: 'Graphik-Bold', sans-serif;
  font-size: 1.5em;
  margin-left: .5em;
  margin-top: 2em;
}

.contributors-intro {
  @include span(11);
  @include push(.5);
  margin-top: 2em;
  p, h1 {
    margin-left: .5em;
  }
}

.contributors-nav {
  text-align: center;
  font-family: 'Graphik-Bold', sans-serif;
  color: $strikeMainColor;
  margin-top: 1em;
  line-height: 1.8em;
  a {
    font-size: 1.5em;
    text-decoration: none;
    color: inherit;
    padding: .8em .55em;
    margin-bottom: .1em;
    border-width: 0.1em;
  }
}

.contributors-flex-center {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include justify-content(center);
  @include flex-direction(column);
  padding-bottom: 2em;
}

.contributors {
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  &:after {
    content: "";
    flex: auto;
  }
}

.contributor {
  margin: 1em 1.1%;
  margin-bottom: 1.2em;

  a {
    color: black;
    text-decoration: none;
  }

  &-wrap {
    // Remove whitespace between profilepic and info
    @include display-flex;
  }

  &-info {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    background-color: white;
    width: 50%;
  }

  &-info, &-profilepic {
    height: 9em;
    width: 9em;
    height: 14vw;
    width: 14vw;
    height: 14vw;
    width: 14vw;
  }

  &-profilepic {
    background-color: black;
    vertical-align: bottom;
  }

  &-name {
    // font-family: 'Graphik-Bold', sans-serif;
    line-height: 1.1em;
    font-size: .7em;
  }

  &-role {
    // font-family: 'Space-Mono', monospace;
    font-size: .7em;
    line-height: 1.3em;
    li {
      display: inline;
    }
    li::after {
      content: ", ";
    }
    li:last-child::after {
      content: "";
    }
  }

  &-name, &-role {
    padding: .7em .7em .5em .7em;
  }

  &-links {
    padding: 0 .7em .2em .7em;
    font-size: .8em;
    i {
      padding-right: .2em;
    }
  }
}

@media screen and (max-width: 768px) {
  .contributor {
    &-info, &-profilepic {
      height: 9em;
      width: 9em;
      height: 47vw;
      width: 47vw;
    }
  }
}
@media screen and (max-width: 450px) {
  .contributors-flex-center {
    @include span(11);
    @include push(.5);
  }
  .contributors {
    @include justify-content(center);
    font-size: 1.4em;
    &:after {
      content: "";
      flex: 0;
    }
  }
}
