.alphabet-letter {
  width: 100%;
  font-family: 'Graphik-Bold', sans-serif;
  margin-left: .5em;
  margin-top: 2em;
}

.contributors-intro {
  @include span(11);
  @include push(.5);
  margin-top: 2em;
  p, h1 {
    margin-left: .5em;
  }
}

.contributors-nav {
  text-align: center;
  font-family: 'Graphik-Bold', sans-serif;
  margin-top: 1em;
  a {
    font-size: 1.5em;
    text-decoration: none;
    color: inherit;
    padding: .35em;
  }
}

.contributors-flex-center {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include justify-content(center);
  @include flex-direction(column);
}

.contributors {
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-bottom: span(.5);

  &:after {
    content: "";
    flex: auto;
  }
}

.contributor {
  margin: .5em;
  margin-bottom: 1.2em;

  a {
    color: black;
    text-decoration: none;
  }

  &-wrap {
    // Remove whitespace between profilepic and info
    @include display-flex;
  }

  &-info {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    background-color: white;
    width: 50%;
  }

  &-info, &-profilepic {
    height: 9em;
    width: 9em;
    height: 14vw;
    width: 14vw;
    height: 14vw;
    width: 14vw;
  }

  &-profilepic {
    background-color: yellow;
    vertical-align: bottom;
  }

  &-name {
    font-family: 'Graphik-Bold', sans-serif;
    line-height: 1.1em;
    font-size: .7em;
  }

  &-role {
    font-size: .7em;
    line-height: 1.1em;
    li {
      display: inline;
    }
    li::after {
      content: ", ";
    }
    li:last-child::after {
      content: "";
    }
  }

  &-bio {

  }

  h1, ul {
    padding: 12px;
  }
}

@media screen and (max-width: 700px) {
  .contributor {
    &-info, &-profilepic {
      height: 9em;
      width: 9em;
      height: 40vw;
      width: 40vw;
    }
  }
}
