.footer {
  @include span(12);
  padding-top: 1.5rem;
  height: 20vh;
  background-color: purple;
}

.footer-newsletter {
  @include span(11);
  @include push(.5);
  text-align: center;
  padding-bottom: 1em;
  #mc_embed_signup input.email {
    width: 90%;
  }
  p {
    margin: .8em;
  }
}

.footer-nav {

}

.footer-links, .footer-socials {
  display: inline-block;
  li {
    display: inline-block;
    list-style: none;
  }
}

.footer-links {
  float: left;
}

.footer-socials {
  float: right;
}

@media all and (min-width: 501px) {
  .footer {
    padding-top: 0;
  }
}
