.footer {
  @include span(12);
  padding-top: 1.5em;
  min-height: 20vh;
  background-color: $strikeMainColor;
  color: $strikeText;
}

.footer-newsletter {
  @include span(10);
  @include push(1);
  padding-bottom: 1em;
  #mc_embed_signup input.email {
    width: 84%;
    float: left;
    &::-webkit-input-placeholder {
    	color: whitesmoke;
    }
    &::-moz-placeholder {
    	color: whitesmoke;
    }
    &:-moz-placeholder {   /* Older versions of Firefox */
    	color: whitesmoke;
    }
    &:-ms-input-placeholder {
    	color: whitesmoke;
    }
  }
  #mc_embed_signup .button {
    float: left;
    width: 16%;
    border-width: 3px 3px 3px 0;
  }
  p {
    font-family: 'Graphik-Bold', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
  }
}

.footer-nav {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include justify-content(center);
  @include align-items(flex-end);
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-links, .footer-socials {
  display: inline-block;
  margin-bottom: 1em;
  li {
    display: inline-block;
    list-style: none;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.footer-links {
  float: left;
  a {
    margin-right: 1.5em;
  }
}

.footer-socials {
  float: right;
  a {
    margin-left: .7em;
    font-size: 2.5em;
  }
  a:hover {
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding-top: 0;
  }

  .footer-newsletter {
    @include span(11);
    @include push(.5);
    #mc_embed_signup input.email {
      width: 100%;
      margin-bottom: 5px;
    }
    #mc_embed_signup .button {
      width: 100%;
    }
  }

  .footer-nav {
    @include span(11);
    @include push(.5);
  }

  .footer-links {
    display: inline-block;
    margin-bottom: 1em;
    li {
      display: block;
    }
  }

  .footer-links {
    float: left;
    a {
      margin-right: 1.5em;
    }
  }
}

@media all and (min-width: 501px) {
  .footer {
    padding-top: 0;
  }
}
