.header {
  // position: fixed;
  z-index: 31;
  padding-top: 0;
  // font-size: 0;
  @include span(12);
  padding-left: 0;
  padding-right: 0;
  background: blue;
  top: 0;
  transition: top 0.2s ease-in-out;
  // height:60px;
  // line-height:60px;
  height: 0;
}

.navigation {
  vertical-align: baseline;
  position: relative;
  display: inline-block;
  background-color: white;
  text-align: center;
  z-index: 50;
  @include box-shadow($strikeMainColor 0 0 2em);
  a {
    text-decoration: none;
    color: black;
  }
}
