.header {
  position: fixed;
  z-index: 30;
  padding-top: 0;
  // font-size: 0;
  @include span(12);
  background: #ffffff;
  top: 0;
  transition: top 0.2s ease-in-out;
  // height:60px;
  // line-height:60px;
}

.navigation {
  vertical-align: baseline;
  position: relative;
  display: inline-block;
  background-color: white;
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
}
