.info {
  background-color: $strikeArticleBackground;
}

.info-nav {
  @include span(11.5);
  @include push(.25);
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  float: none;
  a {
    font-family: 'Graphik-Medium', sans-serif;
    margin-left: 1em;
  }
}

.info-jump {
  position: relative;
  top: -3em;
}

.info-text {
  font-size: 1.5em;
  line-height: 1.3em;
  word-spacing: -.05em;
}

.info-section {
  &__wrap {
    @include span(9);
    @include push(1.5);
  }
  padding: 3em 0;
  h1, h2 {
    padding-bottom: 1em;
    font-family: 'Graphik-Medium', sans-serif;
    font-size: 1.6em;
  }
  p {
    padding-bottom: 1em;
    a {
      color: inherit;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $strikeMainColor;
      text-decoration: none;
    }
    a:hover {
      color: $strikeMainColor;
      text-decoration: none;
    }
  }
}

.stockists {
  &_stock {
    border-color: white;
    border-style: solid;
    border-width: 0 0 3px 0;
    &:first-of-type {
      border-width: 3px 0 3px 0;
    }
    a {
      display: block;
      padding-top: .7em;
      padding-bottom: .7em;
    }
    p {
      color: white;
      display: inline;
      padding-bottom: 0;
    }
    div {
      @include display-flex;
      @include justify-content(space-between);
      padding-left: 1%;
      padding-right: 1%;
    }
  }
  &_stock:hover {
    background-color: white;
    p {
      color: black;
    }
  }
  &_location {
    width: 50%;
    text-align: right;
  }
  &_stockist {
    width: 50%;
    text-align: left;
  }
}

.text ul > li.stockists_stock::before {
  content: "";
  display: none;
}

ul.stockists {
  margin-left: 0;
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .info-nav {
    display: none;
  }
  .info-section {
    padding-top: 2em;
    padding-bottom: 4em;
    &__wrap {
      @include span(11);
      @include push(.5);
    }
    h1, h2 {
      @include span(12);
    }
    p {
      @include span(12);
    }
  }
  .info-section:first-of-type {
    padding-top: 3em;
  }
  .stockists {
    @include span(12);
    div {
      @include flex-direction(column);
    }
    &_location {
      text-align: left;
    }
  }
}
@media all and (max-width: 450px) {
  .info-text {
    font-size: 1em;
  }
}

#about, #contribute, #stockists {
  background-color: black;
  color: white;
}

#stockists {
  padding-bottom: 6em;
}

#contact, #distribute {
  background-color: white;
  color: black;
}
