.info {

}

.info-nav {
  @include span(11);
  @include push(.5);
  padding-top: 2em;
  padding-bottom: 2em;
  float: none;
  text-align: right;
  a {
    font-family: 'Druk-Wide-Medium', sans-serif;
    margin-left: 1em;
  }
}

.info-jump {
  position: relative;
  top: -3em;
}

.info-text {

}

.info-section {
  &__wrap {
    @include span(11);
    @include push(.5);
  }
  padding-top: 4em;
  padding-bottom: 6em;
  h1, h2 {
    padding-bottom: 1em;
    @include span(4);
    font-family: 'Druk-Wide-Medium', sans-serif;
    font-size: 1.6em;
  }
  p {
    @include span(8);
    float: right;
    padding-bottom: 1em;
  }
}

// .info-stockists {
//   @include span(12);
//   padding-left: 0;
//   padding-right: 0;
//   h1, h2 {
//     padding-bottom: 1em;
//   }
// }

.stockists {
  @include span(8);
  &_stock {
    border-color: white;
    border-style: solid;
    border-width: 0 0 3px 0;
    &:first-of-type {
      border-width: 3px 0 3px 0;
    }
    a {
      display: block;
      padding-top: .7em;
      padding-bottom: .7em;
    }
    p {
      color: white;
      display: inline;
      padding-bottom: 0;
    }
    div {
      @include display-flex;
      @include justify-content(space-between);
      padding-left: 1%;
      padding-right: 1%;
    }
  }
  &_stock:hover {
    background-color: white;
    p {
      color: black;
    }
  }
  &_location {
    width: 50%;
    text-align: right;
  }
  &_stockist {
    width: 50%;
    text-align: left;
  }
}

ul.stockists {
  margin-left: 0;
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 700px) {
  .info-nav {
    display: none;
  }
  .info-section {
    padding-top: 2em;
    padding-bottom: 4em;
    h1, h2 {
      @include span(12);
      // @include push(.5);
    }
    p {
      @include span(12);
      // @include push(.5);
    }
  }
  .stockists {
    @include span(12);
    // @include push(.5);
  }
}

#about, #contribute, #stockists {
  background-color: black;
  color: white;
}

#stockists {
  padding-bottom: 6em;
}

#contact, #distribute {
  background-color: white;
  color: black;
}
