.magazine {
  &-intro {
    @include span(11);
    @include push(.5);
    p {
      padding-top: .85em;
      padding-bottom: .85em;
    }
  }
}

.issue {

}

.issue-summary {
  @include span(12);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3em;
  &__image {
    height: 27em;
    & #issue-slider {
      height: 27em !important;
      a {
        background-size: auto 90%;
      }
    }
  }
  &__detail {
    @include span(6);
    @include push(3);
    @media all and (max-width: 550px) {
      @include span(11);
      @include push(.5);
    }
    padding-top: 3.5em;
  }
  &__detail-title {
    font-family: 'Graphik-Medium', sans-serif;
    font-size: 2.5em;
    line-height: 1em;
    padding-bottom: .4em;
  }
  &__detail-printed {
    margin-top: 0;
    font-size: .7em;
    padding-bottom: 3em;
  }
  &__detail-summary {
    padding-bottom: 2em;
  }
  &__detail-buy {
    @include span(6);
    @include push(3);
    @media all and (max-width: 550px) {
      @include span(11);
      @include push(.5);
    }
  }
}

.issue-contents {
  @include span(12);
  padding: 0;
  padding-bottom: 3em;
  &__title {
    font-family: 'Druk-Wide-Medium', sans-serif;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: .5px solid grey;
    h1 {
      display: inline-block;
    }
    i {
      padding: .3em;
    }
  }

  &-group {
    // display: none;
  }

  &__content {
    @include span(11);
    @include push(.5);
    // padding: 0;
    border-style: solid;
    border-width: 0 3px 3px 3px;
    line-height: 1.3em;
    @media all and (max-width: 550px) {
      @include span(11);

    }
    &:nth-of-type(1) {
      border-width: 3px 3px 3px 3px;
    }
    a {
      display: block;
      color: black;
      text-decoration: none;
    }
  }
  &__content:hover {
    background-color: black;
    .issue-contents__content-title, .issue-contents__content-online, .issue-contents__content-contributor {
      color: white;
    }
  }
  &__content.offline {
    color: lightgrey;
    &:hover {
      color: lightgrey;
    }
  }
  &__content:hover.offline {
    .issue-contents__content-title, .issue-contents__content-online, .issue-contents__content-contributor {
      color: lightgrey;
    }
  }
  &__content-online {
    font-family: 'Druk-Wide-Medium', sans-serif;
    font-size: .5em;
    color: grey;
    position: absolute;
    padding-top: .5em;
  }
  &__content-title {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  &__content-contributor {
    // font-family: 'Druk-Wide-Medium', sans-serif;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    display: inline-block;
    // Commas between multiple authors
    span {
      &:after {
        content:","
      }
      &:last-of-type:after {
        content:""
      }
    }
  }
}

$issue-padding: 1.5em;

.magazine-more {
  padding-top: $issue-padding*2;
  padding-bottom: $issue-padding*2;
  background-color: black;
  &__explore {
    @include span(12);
    display: block;
    color: white;
    font-family: 'Druk-Wide-Medium', sans-serif;
    padding-left: $issue-padding*2;
    padding-bottom: $issue-padding;
  }
  &__issues {
    // @include span(12);
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  &__issue-cover {
    display: inline-block;
    height: auto;
    @include span(3);
    padding-left: $issue-padding;
    padding-right: $issue-padding;
    padding-top: $issue-padding;
    padding-bottom: $issue-padding;
    &:nth-of-type(-n+3) {
      height: auto;
      @include span(4);
      padding-left: $issue-padding;
      padding-right: $issue-padding;
    }
  }
  &__issue-hover {
    position: relative;
    background-color: $strikeMainColor;
    h5 {
      display: none;
      text-align: center;
      color: white;
      width: 50%;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
    }
    img {
      display: block;
    }
    &:hover {
      h5 {
        display: block;
      }
      img {
        opacity: 0;
      }
    }
  }
}
