.magazine {
  background-color: $strikeArticleBackground;
  &-intro {
    @include span(11);
    @include push(.5);
    p {
      padding-top: .85em;
      padding-bottom: .85em;
    }
  }
  .card-large-portrait, .card-large {
    margin: 0 0 2em 0;
  }
}

.issue {
  padding-bottom: 2em;
}

.issue-summary {
  @include span(12);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3em;
  &__image {
    height: 30em;
    background-color: #141414;
    & #issue-slider {
      @include transform(translateY(6%));
      height: 27em !important;
      background-image: none !important;
      a {
        background-size: auto 90%;
      }
    }
  }
  &__detail {
    @include span(6);
    @include push(3);
    @media all and (max-width: 550px) {
      @include span(11);
      @include push(.5);
    }
    padding-top: 3.5em;
  }
  &__detail-title {
    font-family: 'Graphik-Bold', sans-serif;
    font-size: 2.5em;
    line-height: 1em;
    padding-bottom: 1.5rem;
    a {
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      color: inherit;
    }
  }
  &__detail-printed {
    margin-top: 0;
    padding-bottom: 2rem;
  }
  &__detail-summary {
    padding-bottom: 1em;
  }
  &__detail-buy {
    @include span(6);
    @include push(3);
    @media all and (max-width: 550px) {
      @include span(11);
      @include push(.5);
    }
    a.button:hover {
      background-color: $strikeText;
      color: white;
    }
    a.button {
      border-color: $strikeText;
      color: $strikeText;
    }
  }
}

.issue-contents {
  @include span(5);
  @include push(1);
  display: inline-block;
  padding: 0;
  padding-bottom: 3em;

  &-group {
    @include span(11);
    @include push(.5);
  }

  &__content {
    @include span(12);
    display: block;
    // padding: 0;
    border-style: solid;
    border-width: 0 0 $lineThickness 0;
    line-height: 1.3em;
    a {
      display: block;
      color: $strikeText;
      text-decoration: none;
    }
  }
  &__title {
    @include span(12);
    display: block;
    // padding: 0;
    border-style: solid;
    border-width: 0 0 $lineThickness 0;
    padding-bottom: .8em;
  }
  &__content:hover {
    background-color: $strikeText;
    .issue-contents__content-title, .issue-contents__content-online, .issue-contents__content-contributor {
      color: white;
    }
  }
  &__content.offline {
    color: #616161;
    border-color: $strikeText;
    .issue-contents__content-title, .issue-contents__content-online, .issue-contents__content-contributor {
      @include span(12);
    }
    &:hover {
      background-color: $strikeArticleBackground;
      color: #616161;
    }
  }
  &__content:hover.offline {
    .issue-contents__content-title, .issue-contents__content-online, .issue-contents__content-contributor {
      color: #616161;
    }
  }
  &__content-online {
    font-family: 'Druk-Wide-Medium', sans-serif;
    font-size: .5em;
    color: $strikeText;
    position: absolute;
    padding-top: .5em;
  }
  &__content-title {
    padding-top: .8em;
    // padding-left: 1.5em;
    // padding-right: 1.5em;
  }
  &__content-contributor {
    // font-family: 'Druk-Wide-Medium', sans-serif;
    padding-bottom: .8em;
    // padding-left: 1.5em;
    display: inline-block;
    // Commas between multiple authors
    span {
      &:after {
        content:","
      }
      &:last-of-type:after {
        content:""
      }
    }
  }
}

.issue-cards {
  @include span(5);
  display: inline-block;
  @include display-flex;
  @include justify-content(center);
  @include flex-wrap(wrap);
}

$issue-padding: 1.5vw;

.magazine-more {
  background-color: $strikeText;
  color: white;
  padding-top: $issue-padding;
  padding-bottom: $issue-padding*4;
  &__explore {
    @include span(12);
    display: block;
    color: white;
    font-family: 'Graphik-Medium', sans-serif;
    padding-left: $issue-padding*3;
    padding-top: $issue-padding;
    padding-bottom: $issue-padding;
  }
  &__issues {
    // @include span(12);
    padding-left: 1.5em;
    padding-right: 1.5em;
    @include display-flex;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
  }
  &__issue-cover {
    display: inline-block;
    @include span(3);
    height: span(4);
    padding-left: $issue-padding;
    padding-right: $issue-padding;
    padding-top: $issue-padding;
    padding-bottom: $issue-padding*2;
    &:nth-of-type(-n+3) {
      @include span(4);
      height: span(5);
      padding-left: $issue-padding;
      padding-right: $issue-padding;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
    &:hover img {
      @include box-shadow($strikeMainColor 0 0 1.5rem);
    }
  }
  &__issue-details {
    font-size: .8em;
    line-height: 1.1em;
    height: 2.1em;
    padding-top: 0.4em;
  }
  &__issue-hover {
    height: 20rem;
    position: relative;
    background-size: contain;
    background-repeat: round;
    background-position: center;
    &:hover {
      background-blend-mode: multiply;
    }
  }
}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 768px) {
  .issue-contents {
    @include span(12);
    margin: 0;
  }
  .issue-cards {
    @include span(12);
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(flex-end);
  }
  .magazine .card-large-portrait, .magazine .card-large {
    margin: 1em;
  }
  .magazine-more {
    padding-top: $issue-padding*4.5;
    padding-bottom: $issue-padding*6;
    &__explore {
      padding-left: $issue-padding*5;
      padding-bottom: $issue-padding*2.5;
    }
    &__issues {
      // @include span(12);
      padding-left: 1em;
      padding-right: 1em;
    }
    &__issue-cover {
      @include span(6);
      padding-left: $issue-padding*2;
      padding-right: $issue-padding*2;
      padding-top: $issue-padding*2;
      padding-bottom: $issue-padding*2;
      &:nth-of-type(-n+3) {
        height: auto;
        @include span(6);
        padding-left: $issue-padding*2;
        padding-right: $issue-padding*2;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .magazine-more {
    padding-top: $issue-padding*4.5;
    padding-bottom: $issue-padding*6;
    &__explore {
      padding-left: $issue-padding*5;
      padding-bottom: $issue-padding*2.5;
    }
    &__issues {
      padding-left: 0;
      padding-right: 0;
    }
    &__issue-cover {
      @include span(6);
      padding-left: $issue-padding*2;
      padding-right: $issue-padding*2;
      padding-top: $issue-padding*2;
      padding-bottom: $issue-padding*2;
      &:nth-of-type(-n+3) {
        height: auto;
        @include span(6);
        padding-left: $issue-padding*2;
        padding-right: $issue-padding*2;
      }
    }
  }
}
