#mc_embed_signup {
  text-align: center;
  background: none;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%; }

#mc_embed_signup input.email {
  border: .2em solid black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 1em;
  display: inline-block;
  margin: 0;
  width: 360px;
  max-width: 100%;
  vertical-align: top; }

#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  border-radius: 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0; }

#mc_embed_signup .button:hover {
  background-color: #222;
  cursor: pointer; }
