.menu {
  text-align: center;
  font-weight: 500;
  background-color: white;
}

.menu-item {
  display: inline-block;
  padding: 1em;
  // small screens
  @media (max-width: 500px) {
      display: block;
  }
}

.menu-item a {
  border-bottom: 0;
  // small screens
  @media (max-width: 500px) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.menu-item.is-active a {
  border-bottom: 2px solid black;
}

@media all and (min-width: 56em) {
  .menu {
    text-align: center;
  }
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right: 1em;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color: black;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right: 1em;
  line-height:45px;
  padding:7px 15px 0px 15px;
  color: black;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: white;
    position: fixed;
    top: 3.8em;
    right: 0;
    text-align: center;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu ul li a {
    text-decoration: none;
    margin: 0;
    color: black;
}

.menu ul li a:hover {
    color: black;
    text-decoration: none;
}

.menu a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    text-decoration: none;
    color: black;
}
