.header {
  // position: fixed;
  z-index: 31;
  padding-top: 0;
  @include span(12);
  padding-left: 0;
  padding-right: 0;
  top: 0;
  transition: top 0.2s ease-in-out;
  height: 0;
}

.navigation {
  vertical-align: baseline;
  position: relative;
  display: inline-block;
  background-color: white;
  text-align: center;
  z-index: 50;
  @include box-shadow($strikeMainColor 0 0 .5em);
  a {
    text-decoration: none;
    color: black;
  }
}

.menu {
  width: 100%;
  width: 100vw;
  // position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  @media screen and (max-width: 450px) {
    @include box-shadow($strikeMainColor 0 0 .5em);
  }
}

li.menu-item {
  background-color: black;
  border-bottom: 0;
  float: left;
  width: 25%;
  &:hover {
    background-color: $strikeMainColor;
  }
  a, button {
    font-family: 'Graphik-Medium', sans-serif;
    font-size: .8em;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    letter-spacing: 0.015em;
  }
  a {
    padding-top: .08em;
    padding-bottom: .08em;
  }
  // button {
  //   padding-top: .435em;
  //   padding-bottom: .435em;
  // }
  // small screens
  @media (max-width: 550px) {
    width: 50%;
  }
}

li.menu-head.menu-item {
  background-color: $strikeMainColor;
  width: 100%;
}

.menu-toggle {
  display: none;
}

#menu-drop {
  display: block;
}

#branding {
  vertical-align: baseline;
  display: inline-block;
  font-size: 1.2em;
  background-color: white;
  position: relative;
  display: inline-block;
  line-height: 1em;
  margin-bottom: 0;
  white-space: nowrap;
  text-align: center;
  // @include animation(backandforth 5s infinite linear);
}

@-webkit-keyframes backandforth {
0% { -webkit-transform: rotate(0deg);}
25% { -webkit-transform: rotate(-7deg);}
50% { -webkit-transform: rotate(0deg);}
75% { -webkit-transform: rotate(7deg);}
100% { -webkit-transform: rotate(0deg);}
}

@media screen and (max-width: 450px) {
  .menu {
    position: fixed;
    font-size: 1.5em;
  }
  #branding.menu-item {
    font-size: .89em;
  }
  #branding {
    display: none;
  }
  li.menu-head.menu-item {
    width: 50%;
    line-height: 1.4em;
  }
  li.menu-item a {
    line-height: 2em;
  }
  li.menu-toggle {
    display: block;
    button {
      background-color: black;
      border-color: transparent;
      // padding-top: .32em;
      // padding-bottom: .32em;
      line-height: 1.94em;
    }
  }
  #menu-drop {
    display: none;
    li.menu-item {
      width: 100%;
    }
  }
}

li.menu-item.is-active {
  background-color: $strikeMainColor;
}

li#branding.menu-item a {
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

  img {
    height: 1.19em;
    padding-top: .31em;
    padding-bottom: .31em;
    vertical-align: middle;
  }
}

@media screen and (min-width: 450px) {
  #branding {
    position: fixed;
    bottom: 1.5em;
    left: 1.5em;
    border-radius: 50%;
    width: 6.5em;
    height: 6.5em;
    @include transform(rotate(-30deg));
  }
  li#branding.menu-item a {
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 50%;
    @include box-shadow($strikeMainColor 0 0 1em, inset 4px 2px 5px rgb(210, 209, 209));
    &:hover {
      background-color: $strikeMainColor;
      @include box-shadow(inset 4px 2px 5px rgb(210, 209, 209));
    }
    img {
      height: 3em;
      padding-top: 2.5em;
      padding-bottom: 2.5em;
      vertical-align: middle;
    }
  }
}
