.section-header {
  @include span(11);
  @include push(.5);
  background-color: white;
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  margin-top: 2rem;
}

.online-nav {
  @include display-flex;
  @include justify-content(space-between);
  @include span(11);
  @include push(.5);
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.online-nav__filter {
  .button {
    font-size: 1em;
    text-decoration: none;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: $strikeMainColor;
    color: $strikeMainColor;
    padding: 1em;
    display: inline-block;
    font-family: 'Druk-Wide-Medium', sans-serif;
    margin-left: 1em;
    height: auto;
    line-height: 1em;
    background-color: transparent;
    &:hover {
      background-color: $strikeMainColor;
      color: white;
    }
  }
}

.online-nav__search {
  @include flex(.85 1 auto);
  input {
    font-family: inherit;
    font-size: 1.1em;
    border: 3px solid black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: $strikeMainColor;
    background-color: transparent;
    box-sizing: border-box;
    height: 3em;
    padding: .75em 1em .75em 1em;
    display: inline-block;
    margin: 0;
    width: 100%;
    &:focus {
      outline-style: none !important;
      border-color: $strikeMainColor !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
  &:focus {
    outline-style: none !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  form:focus {
    outline-style: none !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.online-recent {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include flex-wrap(wrap);
  // @include justify-content(center);
  @include justify-content(space-between);
  @include align-items(center);
  padding-left: 0;
  padding-right: 0;
  margin-bottom: span(.25);
  // article:nth-of-type(1), article:nth-of-type(2) {
  //   width: 43.5vw;
  //   .card-large-info {
  //     height: 25.85vw;
  //     padding: 1em 1.3em 1em 1.3em;
  //     &__title {
  //       font-size: 1.6em;
  //       line-height: 1em;
  //     }
  //     &__contributor {
  //       font-size: 1.6em;
  //       line-height: 1em;
  //     }
  //     &__summary {
  //       font-size: 1em;
  //       line-height: 1.5em;
  //     }
  //   }
  // }
}

@media screen and (max-width: 550px) {
  .online-recent {
    article:nth-of-type(1), article:nth-of-type(2) {
      width: 100%;
      .card-large-info {
        height: 53.2vw;
        padding: 1em 1.3em 1em 1.3em;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .online-nav {
    @include flex-wrap(wrap);
  }

  .online-nav__filter {
    @include flex(1 1 auto);
    .button {
      padding: 1em;
      margin-left: 0;
    }
  }

  .online-nav__search {
    @include flex(1 1 auto);
    margin-bottom: 5px;
  }
}

.online-archive {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include flex-wrap(wrap);
  // @include justify-content(center);
  @include justify-content(space-between);
  @include align-items(center);
}
