.online-nav {
  @include display-flex;
  @include justify-content(space-between);
  @include span(11);
  @include push(.5);
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.online-nav__filter {
  padding-left: .4vw;
  .button {
    font-size: .8em;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-color: $strikeMainColor;
    color: $strikeMainColor;
    padding: 1em;
    display: inline-block;
    font-family: 'Graphik-Medium', sans-serif;
    margin-left: 1em;
    height: auto;
    line-height: .1em;
    background-color: transparent;
    &:hover {
      background-color: $strikeMainColor;
      color: white;
    }
  }
}

.online-nav__search {
  width: 100%;
  @include display-flex;
  form {
    width: 100%;
  }
  input {
    width: 100%;
    font-family: inherit;
    font-size: .8em;
    border: 2px solid $strikeMainColor;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: $strikeMainColor;
    background-color: transparent;
    box-sizing: border-box;
    height: 2.4em;
    padding: .4em 1em .4em 1em;
    display: inline-block;
    margin: 0;
    // width: 100%;
    &:focus {
      outline-style: none !important;
      border-color: $strikeMainColor !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
  input#search-input {
    @include flex(4 1 auto);
  }
  input#search-submit {
    @include flex(1 15 auto);
    margin-left: 1em;
  }
  &:focus {
    outline-style: none !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  form:focus {
    outline-style: none !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 768px) {
  .online-nav {
    @include flex-wrap(wrap);
    padding-top: 2.5em;
    text-align: center;
  }
  .online-nav__filter {
    @include flex(1 1 auto);
    .button {
      padding: 1em;
      margin-left: 0;
    }
  }
  .online-nav__search {
    @include flex(1 1 auto);
    margin-bottom: 5px;
    display: none;
  }
}

// Also Home
.online-recent {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(flex-end);
  padding-left: 0;
  padding-right: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.online-archive {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include flex-wrap(wrap);
  // @include justify-content(center);
  @include justify-content(center);
  @include align-items(flex-end);
  padding-bottom: 1.5em;
}

@media screen and (max-width: 768px) {
  .online-archive, .online-recent {
    @include span(12);
    @include push(0);
  }
}

@media screen and (max-width: 450px) {
  .online-archive {
    @include span(11);
    @include push(.5);
  }
}
