.online-nav {
  @include display-flex;
  @include justify-content(space-between);
  @include span(11);
  @include push(.5);
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.online-nav__filter {
  padding-left: .4vw;
  .button {
    font-size: 1em;
    text-decoration: none;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: $strikeMainColor;
    color: $strikeMainColor;
    padding: 1em;
    display: inline-block;
    font-family: 'Graphik-Medium', sans-serif;
    margin-left: 1em;
    height: auto;
    line-height: 1em;
    background-color: transparent;
    &:hover {
      background-color: $strikeMainColor;
      color: white;
    }
  }
}

.online-nav__search {
  @include flex(4 1 auto);
  input {
    font-family: inherit;
    font-size: 1.1em;
    border: 3px solid $strikeMainColor;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: $strikeMainColor;
    background-color: transparent;
    box-sizing: border-box;
    height: 3em;
    padding: .75em 1em .75em 1em;
    display: inline-block;
    margin: 0;
    width: 100%;
    &:focus {
      outline-style: none !important;
      border-color: $strikeMainColor !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
  &:focus {
    outline-style: none !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  form:focus {
    outline-style: none !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 768px) {
  .online-nav {
    @include flex-wrap(wrap);
    padding-top: 2.5em;
  }
  .online-nav__filter {
    @include flex(1 1 auto);
    .button {
      padding: 1em;
      margin-left: 0;
    }
  }
  .online-nav__search {
    @include flex(1 1 auto);
    margin-bottom: 5px;
    display: none;
  }
}

// Also Home
.online-recent {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  @include align-items(center);
  padding-left: 0;
  padding-right: 0;
  margin-bottom: span(.25);
}

.online-archive {
  @include span(11);
  @include push(.5);
  @include display-flex;
  @include flex-wrap(wrap);
  // @include justify-content(center);
  @include justify-content(space-between);
  @include align-items(center);
}
