.support-bar {
  @include span(12);
  text-align: center;
  background-color: $strikeMainColor;
  color: white;
  &__plea {
    font-size: 1.6em;
    line-height: 1.2em;
    padding-top: 1.5em;
    padding-bottom: .5em;
  }
  &__buttons {
    padding-top: .5em;
    padding-bottom: 2.5em;
  }
  &__button {
    // display: inline-block;
    font-size: 1.6em;
    width: 9em;
    height: 9em;
    line-height: 9em;
    text-align: center;
    margin-left: .2em !important;
    margin-right: .2em !important;
    padding: 1.3em !important;
    border-color: white !important;
    border-radius: 50%;
    color: white !important;
    // min-width: 6em;
    &:hover {
      background-color: white !important;
      color: $strikeMainColor !important;
    }
  }
}
