.support-bar {
  @include span(12);
  background-color: $strikeMainColor;
  color: $strikeText;
  font-family: 'Graphik-Bold', sans-serif;
  font-size: 1.6em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  &__plea {
    line-height: 1.2em;
    padding-bottom: .5em;
  }
  &__buttons {
    padding-top: .5em;
  }
  &__button {
    text-decoration: none;
    border-style: solid;
    border-width: $lineThickness;
    display: inline-block;
    height: auto;
    line-height: .1em;
    background-color: transparent;
    width: 7em;
    height: 7em;
    line-height: 7em;
    text-align: center;
    margin-left: .2em;
    margin-right: .2em;
    padding: .1em;
    border-color: $strikeText;
    border-radius: 50%;
    color: $strikeText;
    // min-width: 6em;
    &:hover {
      background-color: $strikeText;
      color: $strikeMainColor;
    }
  }
}
