/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "susy";
@import "grids";

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: 1/4,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

/* -----  1.1 Font Definitions  --------------------------------------------- */

/* DRUK */
@font-face {
  font-family: 'Druk-Wide-Medium';
  src: url(../fonts/Druk-Wide-Medium.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}

/* Graphik */
@font-face {
  font-family: 'Graphik-Medium';
  src: url(../fonts/Graphik-Medium.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}



.center {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include align-self(center);
}

/* -----  1.4 Buttons  --------------------------------------------- */

button {
  font-size: 13px;
  border: none;
  border-radius: 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
}

/* -----  1.4 Images & Figures  --------------------------------------------- */

img {
  border-style: none;
  width: 100%;
  height: auto;
}

figcaption {
  font-size: .75rem;
  line-height: 1.5rem;
}

/* -----  2.1 Kirbytext  ---------------------------------------------------- */

.intro {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

// h1 + .intro {
//   margin-top: -2.25rem;
// }

.text {
  font-family: 'Graphik-Medium', sans-serif;
}

.text h2, .text h3 {
  font-family: 'Druk-Wide-Medium', sans-serif;
}

.text ul, .text ol {
  margin-left: 1.5em;
}

.text p {
  font-weight: 400;
}

.text figure {

}

.text hr {
  /* We use a more muted style for horizontal rules within
     the main content. */
  color: #1f00ff
}

.text ul {
  list-style: none;
}

// .text ul > li::before {
//   content: "–";
//   display: inline-block;
//   position: relative;
//   width: 1.25em;
//   margin-right: -1.25em;
//   left: -1.25em;
//   padding-left: .25em;
// }

.text ol > li {
  list-style: decimal;
}

.text pre, .text code {
  background-color: #eafded;
  font-family: Courier, monospace;
  font-size: .75rem;
}

.text code {
  margin: -.25em 0;
  padding: .25em .15em;
  position: relative;
  bottom: .05em;
}

.text pre > code {
  display: block;
  margin: 0;
  padding: .8em;
  position: static;
  bottom: auto;
  overflow-x: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
  .text pre > code {
    /* Enables smoother scrolling for code sections on
       mobile (i.e. touch) devices. */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.text kbd {
  padding: 3px 7px;
  margin: -3px 2px;
  font-size: 75%;
  line-height: 1;
  background: #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c9c7d4;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  position: relative;
  bottom: 2px;
}

.text blockquote {
  padding: .75rem;
  p {
    font-size: 1.5em;
  }
}

.text blockquote :last-child {
  margin-bottom: 0;
}

/* -----  2.3 Grid & Layout  ------------------------------------------------ */

body {
  background-color: lightgrey;
}

/* ----- 3.1  Header  ------------------------------------------------------- */

.header {
  padding-top: 1.5rem;
  font-size: 0;
}

.branding {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.95rem;
  margin-bottom: .45rem;
  background-color: black;
  position: relative;
  display: inline-block;
}

.branding a {
  border-bottom: 0;

  img {
    height: 2em;
    padding: .2em;
    vertical-align: middle;
  }
}

.navigation {
  font-size: 1.5rem;
}

@media all and (min-width: 56em) {
  .header {
    padding-top: 0;
  }
  .branding {
    line-height: 3rem;
    margin-bottom: 0;
    white-space: nowrap;
    text-align: center;
  }
  .branding,
  .navigation {
    vertical-align: baseline;
    width: 50%;
    position: relative;
    display: inline-block;
  }
}

/* -----  3.2 Menu  --------------------------------------------------------- */

.menu {
  text-align: center;
  font-weight: 500;
  background-color: white;
}

.menu-item {
  display: block;
}

.menu-item a {
  border-bottom: 0;
}

.menu-item.is-active a {
  border-bottom: 2px solid #71efac;
}

@media all and (min-width: 56em) {
  .menu {
    text-align: center;
  }
}

/* -----  3.3 Footer  ------------------------------------------------------- */

.footer {
  padding-top: 1.5rem;
  font-size: 0;
}

.footer-left {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.95rem;
  margin-bottom: .45rem;
  background-color: black;
  position: relative;
  display: inline-block;
}

.footer-right {
  font-size: 1.5rem;
}

@media all and (min-width: 56em) {
  .footer {
    padding-top: 0;
  }
  .footer-left {
    line-height: 3rem;
    margin-bottom: 0;
    white-space: nowrap;
    text-align: center;
  }
  .footer-left,
  .footer-right {
    vertical-align: baseline;
    width: 50%;
    position: relative;
    display: inline-block;
  }
}

/* -----  3.4 Main Content  ------------------------------------------------- */

.main {
  @include container;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* ----- 4.2 Blog Article  -------------------------------------------------- */

.article {
  background-color: white;
  @include span(11);

  @media (max-width: 500px) {
      @include span(11);
    }

  &-info {
    @include span(7);

    @media (max-width: 500px) {
        @include span(7);
      }

    padding-top: 1em;
    text-align: center;
  }

  &-header {

    &__title {
      font-weight: 700;
      margin-bottom: 1em;
      a {
        border-bottom: 0;
      }
    }

    &__date {
      text-align: center;
    }

    &__issue {
      @include align-self(flex-start);
      margin-bottom: 1em;
    }

    &__contributor {
      margin-bottom: 1em;
    }

    &__summary {

    }
  }

  &-more {
    font-size: 75%;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .025em;
    white-space: nowrap;
    border-bottom: 2px solid #71efac;
  }
}

.article-printed {
  @include align-self(flex-end);
  position: absolute;
  top: 4.5em;
  right: 0;
  figure {
    line-height: 0;
  }
}

.article-printed__cover {
    height: auto;
    width: 8em;
    padding: 1em;
  }

.article-printed__info {
    min-width: 9em;
    max-width: 9em;
    padding: .5em;

    p {
      color: white;
    }
  }

.article {
  .text {
    @include span(12);
  }

  .text h2, .text h3 {
    @include span(7);
  }

  .text ul, .text ol {
    @include span(7);
  }

  .text p {
    @include span(7);
  }

  .text figure {
    @include span(7);
  }

  .text hr {
    /* We use a more muted style for horizontal rules within
       the main content. */
    color: #1f00ff
  }

  .text ul {
    @include span(7);
  }

  .text ol > li {
    list-style: decimal;
  }

  .text pre, .text code {
    @include span(7);
  }

  .text blockquote {
    @include span(8);
    @include pull(1);
    padding: .75rem;
    p {
      @include span(12);
      font-size: 1.5em;
    }
  }
}

/* ----- 0.0 About  --------------------------------------------------------- */
.about {

}

.about-text {
  h1, h2 {
    text-align: center;
  }
}

.about-section {
  @include span(6);
  @include push(3);
  padding-bottom: 1em;
  h1, h2 {
    padding-bottom: 1em;
  }
}

.about-stockists {
  @include span(12);
  padding-left: 0;
  padding-right: 0;
  h1, h2 {
    padding-bottom: 1em;
  }
}

.stockists {
  &_stock {
    background-color: whitesmoke;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: .5px solid grey;
    p {
      color: black;
    }
    div {
      @include display-flex;
      @include justify-content(space-between);
      padding-left: 8.3%;
      padding-right: 8.3%;
    }
    p {
      display: inline;
      font-family: 'Druk-Wide-Medium', sans-serif;
    }
  }
  &_stock:hover {
    background-color: black;
    p {
      color: white;
    }
  }
  &_country {
    width: 33.33%;

  }
  &_city {
    width: 33.33%;
    text-align: center;
  }
  &_stockist {
    width: 33.33%;
    text-align: right;
  }
}

ul.stockists {
  margin-left: 0;
  a {
    text-decoration: none;
  }
}

.about-menu {
  background-color: whitesmoke;
  ul {
    text-align: center;
  }
  ul li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

/* ----- 0.0 MailChimp  ----------------------------------------------------- */

#mc_embed_signup {
  text-align: center;
  background: none;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%; }

#mc_embed_signup input.email {
  border: .2em solid black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 1em;
  display: inline-block;
  margin: 0;
  width: 360px;
  max-width: 100%;
  vertical-align: top; }

#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  border-radius: 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0; }

#mc_embed_signup .button:hover {
  background-color: #222;
  cursor: pointer; }

/* ----- 0.0 Magazine  ------------------------------------------------------ */

.magazine {

}

.issue {

}

.issue-summary {
  @include span(12);
  padding-top: 3em;
  padding-bottom: 3em;
  &__image {
    padding-right: 3em;
    figure {
      @include span(5);
      @include push(1);
      img {
        height: auto;
        width: 100%;
      }
    }
  }
  &__detail {
    @include span(5);
    padding-left: 3em;
    padding-top: 1em;
  }
  &__detail-title {
    padding-bottom: 1em;
  }
  &__detail-printed {
    margin-top: 0;
    padding-bottom: 1em;
  }
  &__detail-summary {
    padding-bottom: 3em;
  }
  &__detail-buy {
    @include span(5);
    text-align: center;
  }
}

.issue-contents {
  @include span(12);
  padding: 0;
  &__title {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: .5px solid grey;
  }
  &__content {
    @include span(6);
    text-align: center;
    border-right: .5px solid grey;
    border-bottom: .5px solid grey;
  }
  &__content-online {
    position: absolute;
    padding-top: .5em;
  }
  &__content-title {
    padding-top: 1.5em;
    padding-bottom: .5em;
  }
  &__content-contributor {
    padding-bottom: 1.5em;
  }
}
