/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -----  1.1 Font Definitions  --------------------------------------------- */
/* DRUK */
@font-face {
  font-family: 'Druk-Wide-Medium';
  src: url(../fonts/DrukWide-Medium-Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Graphik */
@font-face {
  font-family: 'Graphik-Medium';
  src: url(../fonts/Graphik-Medium-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Clear fix */
/* line 29, ../scss/screen.scss */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 36, ../scss/screen.scss */
* html .group {
  zoom: 1;
}

/* IE6 */
/* line 37, ../scss/screen.scss */
*:first-child + html .group {
  zoom: 1;
}

/* IE7 */
/* line 39, ../scss/screen.scss */
.center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: center;
  align-self: center;
}

/* -----  1.4 Buttons  --------------------------------------------- */
/* line 49, ../scss/screen.scss */
button {
  font-size: 13px;
  border: none;
  border-radius: 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
}

/* -----  1.4 Images & Figures  --------------------------------------------- */
/* line 66, ../scss/screen.scss */
img {
  border-style: none;
  width: 100%;
  height: auto;
}

/* line 72, ../scss/screen.scss */
figcaption {
  font-size: .75rem;
  line-height: 1.5rem;
}

/* -----  2.1 Kirbytext  ---------------------------------------------------- */
/* line 79, ../scss/screen.scss */
.intro {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

/* line 94, ../scss/screen.scss */
.text h1, .text h2, .text h3 {
  font-family: 'Druk-Wide-Medium', sans-serif;
}

/* line 98, ../scss/screen.scss */
.text ul, .text ol {
  margin-left: 1.5em;
}

/* line 102, ../scss/screen.scss */
.text p {
  font-weight: 400;
}

/* line 110, ../scss/screen.scss */
.text hr {
  /* We use a more muted style for horizontal rules within
     the main content. */
  color: #1f00ff;
}

/* line 116, ../scss/screen.scss */
.text ul {
  list-style: none;
}

/* line 130, ../scss/screen.scss */
.text ol > li {
  list-style: decimal;
}

/* line 134, ../scss/screen.scss */
.text pre, .text code {
  background-color: #eafded;
  font-family: Courier, monospace;
  font-size: .75rem;
}

/* line 140, ../scss/screen.scss */
.text code {
  margin: -.25em 0;
  padding: .25em .15em;
  position: relative;
  bottom: .05em;
}

/* line 147, ../scss/screen.scss */
.text pre > code {
  display: block;
  margin: 0;
  padding: .8em;
  position: static;
  bottom: auto;
  overflow-x: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* line 157, ../scss/screen.scss */
  .text pre > code {
    /* Enables smoother scrolling for code sections on
       mobile (i.e. touch) devices. */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
/* line 165, ../scss/screen.scss */
.text kbd {
  padding: 3px 7px;
  margin: -3px 2px;
  font-size: 75%;
  line-height: 1;
  background: #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c9c7d4;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  position: relative;
  bottom: 2px;
}

/* line 178, ../scss/screen.scss */
.text blockquote {
  padding: .75rem;
}
/* line 180, ../scss/screen.scss */
.text blockquote p {
  font-size: 1.5em;
}

/* line 185, ../scss/screen.scss */
.text blockquote :last-child {
  margin-bottom: 0;
}

/* -----  2.3 Grid & Layout  ------------------------------------------------ */
/* line 191, ../scss/screen.scss */
body {
  background-color: lightgrey;
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

@media screen and (max-width: 1440px) {
  /* line 199, ../scss/screen.scss */
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 980px) {
  /* line 211, ../scss/screen.scss */
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  /* line 219, ../scss/screen.scss */
  body {
    font-size: 14px;
  }
}
/* ----- 3.1  Header  ------------------------------------------------------- */
/* line 1, ../scss/_header.scss */
.header {
  padding-top: 0;
  font-size: 0;
  width: 100%;
  background: #ffffff;
}

/* line 10, ../scss/_header.scss */
.branding {
  width: 50%;
  vertical-align: baseline;
  display: inline-block;
  font-size: 1.5rem;
  background-color: black;
  position: relative;
  display: inline-block;
  line-height: 3rem;
  margin-bottom: 0;
  white-space: nowrap;
  text-align: center;
}

/* line 24, ../scss/_header.scss */
.branding a {
  border-bottom: 0;
}
/* line 27, ../scss/_header.scss */
.branding a img {
  height: 2em;
  padding: .2em;
  vertical-align: middle;
}

/* line 34, ../scss/_header.scss */
.navigation {
  width: 50%;
  vertical-align: baseline;
  position: relative;
  display: inline-block;
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Druk-Wide-Medium', sans-serif;
}
/* line 43, ../scss/_header.scss */
.navigation a {
  text-decoration: none;
  color: black;
}
/* line 47, ../scss/_header.scss */
.navigation .hamburger {
  display: inline;
}

/* line 52, ../scss/_header.scss */
.navigation-menu {
  display: none;
}

@media all and (max-width: 500px) {
  /* line 57, ../scss/_header.scss */
  .navigation-page {
    display: none;
  }

  /* line 60, ../scss/_header.scss */
  .navigation-menu {
    display: block;
  }
}
/* -----  3.2 Menu  --------------------------------------------------------- */
/* line 1, ../scss/_menu.scss */
.menu {
  text-align: center;
  font-weight: 500;
  background-color: white;
}

/* line 7, ../scss/_menu.scss */
.menu-item {
  display: block;
}

/* line 11, ../scss/_menu.scss */
.menu-item a {
  border-bottom: 0;
}

/* line 15, ../scss/_menu.scss */
.menu-item.is-active a {
  border-bottom: 2px solid #71efac;
}

@media all and (min-width: 56em) {
  /* line 20, ../scss/_menu.scss */
  .menu {
    text-align: center;
  }
}
/* line 25, ../scss/_menu.scss */
.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 1em;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

/* line 40, ../scss/_menu.scss */
.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 1em;
  line-height: 45px;
  padding: 7px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

/* line 56, ../scss/_menu.scss */
.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: white;
  position: fixed;
  top: 3.8em;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 70, ../scss/_menu.scss */
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

/* line 77, ../scss/_menu.scss */
.menu li {
  display: block;
  padding: 15px 0;
}

/* line 82, ../scss/_menu.scss */
.menu li:hover {
  display: block;
  background: white;
  padding: 15px 0;
}

/* line 88, ../scss/_menu.scss */
.menu ul li a {
  text-decoration: none;
  margin: 0;
  color: black;
}

/* line 94, ../scss/_menu.scss */
.menu ul li a:hover {
  color: black;
  text-decoration: none;
}

/* line 99, ../scss/_menu.scss */
.menu a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

/* line 105, ../scss/_menu.scss */
.menu a:hover {
  text-decoration: none;
  color: black;
}

/* -----  3.3 Footer  ------------------------------------------------------- */
/* line 1, ../scss/_footer.scss */
.footer {
  padding-top: 1.5rem;
  height: 20vh;
}

/* line 6, ../scss/_footer.scss */
.footer-left,
.footer-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-family: 'Druk-Wide-Medium', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.95rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 3em;
  padding-bottom: 3em;
  height: auto;
  min-height: 14em;
}
/* line 21, ../scss/_footer.scss */
.footer-left a:hover,
.footer-right a:hover {
  text-decoration: underline;
}
@media all and (max-width: 500px) {
  /* line 6, ../scss/_footer.scss */
  .footer-left,
  .footer-right {
    display: block;
  }
}

/* line 29, ../scss/_footer.scss */
.footer-left {
  background-color: white;
}
/* line 31, ../scss/_footer.scss */
.footer-left a {
  color: black;
  text-decoration: none;
}

/* line 37, ../scss/_footer.scss */
.footer-right {
  background-color: black;
}
/* line 39, ../scss/_footer.scss */
.footer-right a {
  color: white;
  text-decoration: none;
}

/* line 45, ../scss/_footer.scss */
.footer-newsletter {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  height: 2em;
  text-align: center;
}
/* line 50, ../scss/_footer.scss */
.footer-newsletter #mc_embed_signup input.email {
  width: 60%;
  max-width: 25em;
}
/* line 54, ../scss/_footer.scss */
.footer-newsletter p {
  margin: .8em;
}

@media all and (min-width: 501px) {
  /* line 60, ../scss/_footer.scss */
  .footer {
    padding-top: 0;
  }

  /* line 63, ../scss/_footer.scss */
  .footer-left,
  .footer-right {
    line-height: 3rem;
    margin-bottom: 0;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* -----  3.4 Main Content  ------------------------------------------------- */
/* line 236, ../scss/screen.scss */
.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.main:after {
  content: " ";
  display: block;
  clear: both;
}

/* ----- 0.0 Online  ------------------------------------------------------ */
/* line 1, ../scss/_online.scss */
.section-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  background-color: white;
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
}

/* line 9, ../scss/_online.scss */
.online-recent {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #bebebe;
  padding-bottom: 1em;
}

/* ----- 0.0 Cards  ------------------------------------------------------ */
/* line 1, ../scss/_card.scss */
.card-large, .portrait {
  width: 23em;
  height: 100%;
  background-color: white;
  margin: 2em 1em 1em 1em;
  padding-left: 0;
  padding-right: 0;
}
/* line 9, ../scss/_card.scss */
.card-large a, .portrait a {
  color: black;
  text-decoration: none;
}
/* line 15, ../scss/_card.scss */
.card-large-image figure img {
  display: block;
}
/* line 19, ../scss/_card.scss */
.card-large-info {
  height: 15em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: .5em .8em .8em .8em;
}
/* line 26, ../scss/_card.scss */
.card-large-info__group {
  top: 0.6em;
  right: 0.8em;
  bottom: 0.8em;
  left: 0.8em;
}
/* line 33, ../scss/_card.scss */
.card-large-info__title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .5em;
}
/* line 38, ../scss/_card.scss */
.card-large-info__contributor {
  font-family: 'Druk-Wide-Medium', sans-serif;
  text-align: center;
  font-size: .8em;
  text-decoration: underline;
}
/* line 44, ../scss/_card.scss */
.card-large-info__issue {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  margin-bottom: 2.5em;
}
/* line 49, ../scss/_card.scss */
.card-large-info__summary {
  line-height: 1.2em;
  font-size: .8em;
}

/* line 56, ../scss/_card.scss */
.portrait {
  width: 32.4em;
  height: 23em;
}
/* line 60, ../scss/_card.scss */
.portrait a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
/* line 63, ../scss/_card.scss */
.portrait a .card-large-image {
  height: 23em;
}
/* line 65, ../scss/_card.scss */
.portrait a .card-large-image figure img {
  display: block;
  min-height: 23em;
}
/* line 70, ../scss/_card.scss */
.portrait a .card-large-info {
  width: 50%;
  min-height: 21.8em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: .5em .8em .8em .8em;
}

/* ----- 4.2 Article  -------------------------------------------------- */
/* line 1, ../scss/_article.scss */
.article {
  background-color: whitesmoke;
  padding-top: 3rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
}
@media (max-width: 500px) {
  /* line 1, ../scss/_article.scss */
  .article {
    padding-top: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 98.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0.83333%;
  }
}
/* line 14, ../scss/_article.scss */
.article-info {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 72.91667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 12.5%;
  text-align: center;
}
@media (max-width: 500px) {
  /* line 14, ../scss/_article.scss */
  .article-info {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 26, ../scss/_article.scss */
.article-header {
  margin-bottom: 2.5em;
}
/* line 29, ../scss/_article.scss */
.article-header__title {
  font-size: 2em;
  margin-bottom: 1.7em;
}
@media (max-width: 500px) {
  /* line 29, ../scss/_article.scss */
  .article-header__title {
    line-height: 1.1em;
  }
}
/* line 35, ../scss/_article.scss */
.article-header__title a {
  border-bottom: 0;
}
/* line 40, ../scss/_article.scss */
.article-header__date {
  text-align: center;
}
/* line 44, ../scss/_article.scss */
.article-header__issue {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  text-align: left;
  margin-bottom: 5em;
}
/* line 52, ../scss/_article.scss */
.article-header__contributor {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  margin-bottom: 7em;
  text-decoration: underline;
}
/* line 59, ../scss/_article.scss */
.article-header__summary {
  font-size: 1.7em;
  line-height: 1.3em;
}
/* line 65, ../scss/_article.scss */
.article-more {
  font-size: 75%;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
  white-space: nowrap;
  border-bottom: 2px solid #71efac;
}

/* line 75, ../scss/_article.scss */
.article-printed {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 6.6rem;
  right: 0;
}
@media (max-width: 500px) {
  /* line 75, ../scss/_article.scss */
  .article-printed {
    display: none;
  }
}
/* line 85, ../scss/_article.scss */
.article-printed figure {
  line-height: 0;
}
/* line 89, ../scss/_article.scss */
.article-printed__cover {
  height: auto;
  width: 8em;
  padding: 1em;
}
/* line 95, ../scss/_article.scss */
.article-printed__info {
  min-width: 9em;
  max-width: 9em;
  padding: .5em;
}
/* line 100, ../scss/_article.scss */
.article-printed__info p {
  color: white;
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .5em;
  line-height: 2em;
}

/* line 109, ../scss/_article.scss */
.article-share {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 72.91667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 12.5%;
  padding-bottom: 2em;
  color: grey;
}
/* line 115, ../scss/_article.scss */
.article-share a {
  color: grey;
}
@media (max-width: 500px) {
  /* line 109, ../scss/_article.scss */
  .article-share {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
    font-size: .8em;
  }
}

/* line 127, ../scss/_article.scss */
.article .text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80.41667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 19.58333%;
  margin-bottom: 3em;
}
@media (max-width: 500px) {
  /* line 127, ../scss/_article.scss */
  .article .text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0%;
  }
}
/* line 138, ../scss/_article.scss */
.article .text h2, .article .text h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-family: 'Graphik-Medium', sans-serif;
  margin-bottom: 1em;
}
@media (max-width: 500px) {
  /* line 138, ../scss/_article.scss */
  .article .text h2, .article .text h3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 149, ../scss/_article.scss */
.article .text ul, .article .text ol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (max-width: 500px) {
  /* line 149, ../scss/_article.scss */
  .article .text ul, .article .text ol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 158, ../scss/_article.scss */
.article .text p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-bottom: 1em;
}
@media (max-width: 500px) {
  /* line 158, ../scss/_article.scss */
  .article .text p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 168, ../scss/_article.scss */
.article .text figure:first-of-type {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: -8.33333%;
  margin-bottom: 1em;
}
@media (max-width: 500px) {
  /* line 168, ../scss/_article.scss */
  .article .text figure:first-of-type {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0%;
  }
}
/* line 179, ../scss/_article.scss */
.article .text figure {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-bottom: 1em;
}
@media (max-width: 500px) {
  /* line 179, ../scss/_article.scss */
  .article .text figure {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 188, ../scss/_article.scss */
.article .text figure figcaption {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  text-decoration: underline;
}
/* line 195, ../scss/_article.scss */
.article .text hr {
  /* We use a more muted style for horizontal rules within
     the main content. */
  color: #1f00ff;
}
/* line 201, ../scss/_article.scss */
.article .text ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (max-width: 500px) {
  /* line 201, ../scss/_article.scss */
  .article .text ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 210, ../scss/_article.scss */
.article .text ol > li {
  list-style: decimal;
}
/* line 214, ../scss/_article.scss */
.article .text pre, .article .text code {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (max-width: 500px) {
  /* line 214, ../scss/_article.scss */
  .article .text pre, .article .text code {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 223, ../scss/_article.scss */
.article .text blockquote {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: -8.33333%;
  font-size: 1.4em;
  line-height: 1.8em;
  margin-bottom: 0;
}
@media (max-width: 500px) {
  /* line 223, ../scss/_article.scss */
  .article .text blockquote {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 235, ../scss/_article.scss */
.article .text blockquote p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 1.5em;
  margin-top: .4em;
}
@media (max-width: 500px) {
  /* line 235, ../scss/_article.scss */
  .article .text blockquote p {
    margin-left: 0;
  }
}
/* line 246, ../scss/_article.scss */
.article .article-end {
  margin-bottom: 3em;
}
/* line 250, ../scss/_article.scss */
.article .article-end__contributor h2 {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  text-decoration: underline;
}
/* line 255, ../scss/_article.scss */
.article .article-end__contributor h2:hover {
  text-decoration: none;
}
/* line 260, ../scss/_article.scss */
.article .article-end__printed, .article .article-end__uploaded {
  font-family: 'Druk-Wide-Medium', sans-serif;
  margin-bottom: 0 !important;
  font-size: .8em;
  line-height: 1.5em;
}

/* ----- 0.0 About  --------------------------------------------------------- */
/* line 1, ../scss/_about.scss */
.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 7, ../scss/_about.scss */
.about-text h1, .about-text h2 {
  text-align: center;
}

/* line 12, ../scss/_about.scss */
.about-section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 25%;
  padding-bottom: 1em;
}
/* line 16, ../scss/_about.scss */
.about-section h1, .about-section h2 {
  padding-bottom: 1em;
}

/* line 21, ../scss/_about.scss */
.about-stockists {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
  padding-right: 0;
}
/* line 25, ../scss/_about.scss */
.about-stockists h1, .about-stockists h2 {
  padding-bottom: 1em;
}

/* line 31, ../scss/_about.scss */
.stockists_stock {
  background-color: whitesmoke;
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: .5px solid grey;
}
/* line 36, ../scss/_about.scss */
.stockists_stock p {
  color: black;
}
/* line 39, ../scss/_about.scss */
.stockists_stock div {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 8.3%;
  padding-right: 8.3%;
}
/* line 45, ../scss/_about.scss */
.stockists_stock p {
  display: inline;
}
/* line 49, ../scss/_about.scss */
.stockists_stock:hover {
  background-color: black;
}
/* line 51, ../scss/_about.scss */
.stockists_stock:hover p {
  color: white;
}
/* line 55, ../scss/_about.scss */
.stockists_country {
  width: 33.33%;
}
/* line 59, ../scss/_about.scss */
.stockists_city {
  width: 33.33%;
  text-align: center;
}
/* line 63, ../scss/_about.scss */
.stockists_stockist {
  width: 33.33%;
  text-align: right;
}

/* line 69, ../scss/_about.scss */
ul.stockists {
  margin-left: 0;
}
/* line 71, ../scss/_about.scss */
ul.stockists a {
  text-decoration: none;
}

/* line 76, ../scss/_about.scss */
.about-menu {
  background-color: whitesmoke;
  font-family: 'Druk-Wide-Medium', sans-serif;
}
/* line 79, ../scss/_about.scss */
.about-menu ul {
  text-align: center;
}
/* line 82, ../scss/_about.scss */
.about-menu ul li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 88, ../scss/_about.scss */
.about-menu ul li a {
  color: black;
  text-decoration: none;
}
/* line 92, ../scss/_about.scss */
.about-menu ul li a:hover {
  text-decoration: underline;
}

/* ----- 0.0 MailChimp  ----------------------------------------------------- */
/* line 1, ../scss/_mailchimp.scss */
#mc_embed_signup {
  text-align: center;
  background: none;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%;
}

/* line 8, ../scss/_mailchimp.scss */
#mc_embed_signup input.email {
  border: .2em solid black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 1em;
  display: inline-block;
  margin: 0;
  width: 360px;
  max-width: 100%;
  vertical-align: top;
}

/* line 24, ../scss/_mailchimp.scss */
#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  border-radius: 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
}

/* line 38, ../scss/_mailchimp.scss */
#mc_embed_signup .button:hover {
  background-color: #222;
  cursor: pointer;
}

/* ----- 0.0 Magazine  ------------------------------------------------------ */
/* line 9, ../scss/_magazine.scss */
.issue-summary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-top: 3em;
  padding-bottom: 3em;
}
@media all and (max-width: 500px) {
  /* line 9, ../scss/_magazine.scss */
  .issue-summary {
    padding-top: 2em;
  }
}
/* line 16, ../scss/_magazine.scss */
.issue-summary__image {
  padding-right: 3em;
}
/* line 18, ../scss/_magazine.scss */
.issue-summary__image figure {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
}
@media all and (max-width: 500px) {
  /* line 18, ../scss/_magazine.scss */
  .issue-summary__image figure {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 5%;
  }
}
/* line 25, ../scss/_magazine.scss */
.issue-summary__image figure img {
  height: auto;
  width: 100%;
}
/* line 31, ../scss/_magazine.scss */
.issue-summary__detail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 3em;
  padding-top: 1em;
}
@media all and (max-width: 500px) {
  /* line 31, ../scss/_magazine.scss */
  .issue-summary__detail {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 40, ../scss/_magazine.scss */
.issue-summary__detail-title {
  font-family: 'Graphik-Medium', sans-serif;
  padding-bottom: 1em;
}
/* line 44, ../scss/_magazine.scss */
.issue-summary__detail-printed {
  margin-top: 0;
  padding-bottom: 1em;
}
/* line 48, ../scss/_magazine.scss */
.issue-summary__detail-summary {
  padding-bottom: 3em;
}
/* line 51, ../scss/_magazine.scss */
.issue-summary__detail-buy {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
}
@media all and (max-width: 500px) {
  /* line 51, ../scss/_magazine.scss */
  .issue-summary__detail-buy {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}

/* line 61, ../scss/_magazine.scss */
.issue-contents {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 0;
}
/* line 64, ../scss/_magazine.scss */
.issue-contents__title {
  font-family: 'Druk-Wide-Medium', sans-serif;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: .5px solid grey;
}
/* line 72, ../scss/_magazine.scss */
.issue-contents__content {
  display: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
  line-height: 1.3em;
  border-right: .5px solid grey;
  border-bottom: .5px solid grey;
}
@media all and (max-width: 500px) {
  /* line 72, ../scss/_magazine.scss */
  .issue-contents__content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    border-right: none;
  }
}
/* line 83, ../scss/_magazine.scss */
.issue-contents__content a {
  color: black;
  text-decoration: none;
}
/* line 89, ../scss/_magazine.scss */
.issue-contents__content:hover .issue-contents__content-online, .issue-contents__content:hover .issue-contents__content-contributor {
  color: white;
}
/* line 93, ../scss/_magazine.scss */
.issue-contents__content-online {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .5em;
  color: grey;
  position: absolute;
  padding-top: .5em;
}
/* line 100, ../scss/_magazine.scss */
.issue-contents__content-title {
  padding-top: 1.5em;
}
/* line 103, ../scss/_magazine.scss */
.issue-contents__content-contributor {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .5em;
  padding-bottom: 1.5em;
}

/* ----- 0.0 Contributors  ------------------------------------------------------ */
/* line 1, ../scss/_contributors.scss */
.contributors {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
}

/* line 6, ../scss/_contributors.scss */
.contributor {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-bottom: 1em;
}
/* line 9, ../scss/_contributors.scss */
.contributor-name {
  background-color: black;
}
/* line 13, ../scss/_contributors.scss */
.contributor-profilepic {
  background-color: yellow;
}
/* line 17, ../scss/_contributors.scss */
.contributor-bio {
  background-color: white;
}
