/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -----  1.1 Font Definitions  --------------------------------------------- */
/* DRUK */
@font-face {
  font-family: 'Druk-Wide-Medium';
  src: url(../fonts/DrukWide-Medium-Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Graphik */
@font-face {
  font-family: 'Graphik-Medium';
  src: url(../fonts/Graphik-Medium-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
/* line 30, ../scss/screen.scss */
.center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: center;
  align-self: center;
}

/* -----  1.4 Buttons  --------------------------------------------- */
/* line 40, ../scss/screen.scss */
button {
  font-size: 13px;
  border: none;
  border-radius: 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
}

/* -----  1.4 Images & Figures  --------------------------------------------- */
/* line 57, ../scss/screen.scss */
img {
  border-style: none;
  width: 100%;
  height: auto;
}

/* line 63, ../scss/screen.scss */
figcaption {
  font-size: .75rem;
  line-height: 1.5rem;
}

/* -----  2.1 Kirbytext  ---------------------------------------------------- */
/* line 70, ../scss/screen.scss */
.intro {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

/* line 85, ../scss/screen.scss */
.text h1, .text h2, .text h3 {
  font-family: 'Druk-Wide-Medium', sans-serif;
}

/* line 89, ../scss/screen.scss */
.text ul, .text ol {
  margin-left: 1.5em;
}

/* line 93, ../scss/screen.scss */
.text p {
  font-weight: 400;
}

/* line 101, ../scss/screen.scss */
.text hr {
  /* We use a more muted style for horizontal rules within
     the main content. */
  color: #1f00ff;
}

/* line 107, ../scss/screen.scss */
.text ul {
  list-style: none;
}

/* line 121, ../scss/screen.scss */
.text ol > li {
  list-style: decimal;
}

/* line 125, ../scss/screen.scss */
.text pre, .text code {
  background-color: #eafded;
  font-family: Courier, monospace;
  font-size: .75rem;
}

/* line 131, ../scss/screen.scss */
.text code {
  margin: -.25em 0;
  padding: .25em .15em;
  position: relative;
  bottom: .05em;
}

/* line 138, ../scss/screen.scss */
.text pre > code {
  display: block;
  margin: 0;
  padding: .8em;
  position: static;
  bottom: auto;
  overflow-x: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* line 148, ../scss/screen.scss */
  .text pre > code {
    /* Enables smoother scrolling for code sections on
       mobile (i.e. touch) devices. */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
/* line 156, ../scss/screen.scss */
.text kbd {
  padding: 3px 7px;
  margin: -3px 2px;
  font-size: 75%;
  line-height: 1;
  background: #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c9c7d4;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  position: relative;
  bottom: 2px;
}

/* line 169, ../scss/screen.scss */
.text blockquote {
  padding: .75rem;
}
/* line 171, ../scss/screen.scss */
.text blockquote p {
  font-size: 1.5em;
}

/* line 176, ../scss/screen.scss */
.text blockquote :last-child {
  margin-bottom: 0;
}

/* -----  2.3 Grid & Layout  ------------------------------------------------ */
/* line 182, ../scss/screen.scss */
body {
  background-color: lightgrey;
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

/* ----- 3.1  Header  ------------------------------------------------------- */
/* line 191, ../scss/screen.scss */
.header {
  padding-top: 1.5rem;
  font-size: 0;
}

/* line 196, ../scss/screen.scss */
.branding {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.95rem;
  margin-bottom: .45rem;
  background-color: black;
  position: relative;
  display: inline-block;
}

/* line 206, ../scss/screen.scss */
.branding a {
  border-bottom: 0;
}
/* line 209, ../scss/screen.scss */
.branding a img {
  height: 2em;
  padding: .2em;
  vertical-align: middle;
}

/* line 216, ../scss/screen.scss */
.navigation {
  font-size: 1.5rem;
  font-family: 'Druk-Wide-Medium', sans-serif;
}

@media all and (min-width: 56em) {
  /* line 222, ../scss/screen.scss */
  .header {
    padding-top: 0;
  }

  /* line 225, ../scss/screen.scss */
  .branding {
    line-height: 3rem;
    margin-bottom: 0;
    white-space: nowrap;
    text-align: center;
  }

  /* line 231, ../scss/screen.scss */
  .branding,
  .navigation {
    vertical-align: baseline;
    width: 50%;
    position: relative;
    display: inline-block;
  }
}
/* -----  3.2 Menu  --------------------------------------------------------- */
/* line 242, ../scss/screen.scss */
.menu {
  text-align: center;
  font-weight: 500;
  background-color: white;
}

/* line 248, ../scss/screen.scss */
.menu-item {
  display: block;
}

/* line 252, ../scss/screen.scss */
.menu-item a {
  border-bottom: 0;
}

/* line 256, ../scss/screen.scss */
.menu-item.is-active a {
  border-bottom: 2px solid #71efac;
}

@media all and (min-width: 56em) {
  /* line 261, ../scss/screen.scss */
  .menu {
    text-align: center;
  }
}
/* -----  3.3 Footer  ------------------------------------------------------- */
/* line 268, ../scss/screen.scss */
.footer {
  padding-top: 1.5rem;
  font-size: 0;
  font-family: 'Druk-Wide-Medium', sans-serif;
}

/* line 274, ../scss/screen.scss */
.footer-left {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.95rem;
  margin-bottom: .45rem;
  background-color: black;
  position: relative;
  display: inline-block;
}

/* line 284, ../scss/screen.scss */
.footer-right {
  font-size: 1.5rem;
}

@media all and (min-width: 56em) {
  /* line 289, ../scss/screen.scss */
  .footer {
    padding-top: 0;
  }

  /* line 292, ../scss/screen.scss */
  .footer-left {
    line-height: 3rem;
    margin-bottom: 0;
    white-space: nowrap;
    text-align: center;
  }

  /* line 298, ../scss/screen.scss */
  .footer-left,
  .footer-right {
    vertical-align: baseline;
    width: 50%;
    position: relative;
    display: inline-block;
  }
}
/* -----  3.4 Main Content  ------------------------------------------------- */
/* line 309, ../scss/screen.scss */
.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.main:after {
  content: " ";
  display: block;
  clear: both;
}

/* ----- 4.2 Blog Article  -------------------------------------------------- */
/* line 317, ../scss/screen.scss */
.article {
  background-color: white;
  padding-top: 3rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (max-width: 500px) {
  /* line 317, ../scss/screen.scss */
  .article {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 327, ../scss/screen.scss */
.article-info {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-top: 1em;
  text-align: center;
}
@media (max-width: 500px) {
  /* line 327, ../scss/screen.scss */
  .article-info {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 338, ../scss/screen.scss */
.article-header {
  padding-bottom: 3em;
}
/* line 341, ../scss/screen.scss */
.article-header__title {
  font-size: 2em;
  margin-bottom: 1em;
}
/* line 344, ../scss/screen.scss */
.article-header__title a {
  border-bottom: 0;
}
/* line 349, ../scss/screen.scss */
.article-header__date {
  text-align: center;
}
/* line 353, ../scss/screen.scss */
.article-header__issue {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  margin-bottom: 1em;
  padding-bottom: 3em;
}
/* line 361, ../scss/screen.scss */
.article-header__contributor {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  margin-bottom: 1em;
}
/* line 372, ../scss/screen.scss */
.article-more {
  font-size: 75%;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
  white-space: nowrap;
  border-bottom: 2px solid #71efac;
}

/* line 382, ../scss/screen.scss */
.article-printed {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 4.5em;
  right: 0;
}
/* line 387, ../scss/screen.scss */
.article-printed figure {
  line-height: 0;
}

/* line 392, ../scss/screen.scss */
.article-printed__cover {
  height: auto;
  width: 8em;
  padding: 1em;
}

/* line 398, ../scss/screen.scss */
.article-printed__info {
  min-width: 9em;
  max-width: 9em;
  padding: .5em;
}
/* line 403, ../scss/screen.scss */
.article-printed__info p {
  color: white;
}

/* line 409, ../scss/screen.scss */
.article .text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 413, ../scss/screen.scss */
.article .text h2, .article .text h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-family: 'Graphik-Medium', sans-serif;
  padding-bottom: 1em;
}
/* line 419, ../scss/screen.scss */
.article .text ul, .article .text ol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 423, ../scss/screen.scss */
.article .text p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-bottom: 1em;
}
/* line 428, ../scss/screen.scss */
.article .text figure {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-bottom: 1em;
}
/* line 433, ../scss/screen.scss */
.article .text hr {
  /* We use a more muted style for horizontal rules within
     the main content. */
  color: #1f00ff;
}
/* line 439, ../scss/screen.scss */
.article .text ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 443, ../scss/screen.scss */
.article .text ol > li {
  list-style: decimal;
}
/* line 447, ../scss/screen.scss */
.article .text pre, .article .text code {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 451, ../scss/screen.scss */
.article .text blockquote {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: -8.33333%;
  font-size: 1.4em;
  line-height: 1.8em;
  padding-bottom: 0;
}
/* line 457, ../scss/screen.scss */
.article .text blockquote p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 1.5em;
}

/* ----- 0.0 About  --------------------------------------------------------- */
/* line 465, ../scss/screen.scss */
.about {
  padding-top: 3rem;
}

/* line 470, ../scss/screen.scss */
.about-text h1, .about-text h2 {
  text-align: center;
}

/* line 475, ../scss/screen.scss */
.about-section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 25%;
  padding-bottom: 1em;
}
/* line 479, ../scss/screen.scss */
.about-section h1, .about-section h2 {
  padding-bottom: 1em;
}

/* line 484, ../scss/screen.scss */
.about-stockists {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
  padding-right: 0;
}
/* line 488, ../scss/screen.scss */
.about-stockists h1, .about-stockists h2 {
  padding-bottom: 1em;
}

/* line 494, ../scss/screen.scss */
.stockists_stock {
  background-color: whitesmoke;
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: .5px solid grey;
}
/* line 499, ../scss/screen.scss */
.stockists_stock p {
  color: black;
}
/* line 502, ../scss/screen.scss */
.stockists_stock div {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 8.3%;
  padding-right: 8.3%;
}
/* line 508, ../scss/screen.scss */
.stockists_stock p {
  display: inline;
}
/* line 512, ../scss/screen.scss */
.stockists_stock:hover {
  background-color: black;
}
/* line 514, ../scss/screen.scss */
.stockists_stock:hover p {
  color: white;
}
/* line 518, ../scss/screen.scss */
.stockists_country {
  width: 33.33%;
}
/* line 522, ../scss/screen.scss */
.stockists_city {
  width: 33.33%;
  text-align: center;
}
/* line 526, ../scss/screen.scss */
.stockists_stockist {
  width: 33.33%;
  text-align: right;
}

/* line 532, ../scss/screen.scss */
ul.stockists {
  margin-left: 0;
}
/* line 534, ../scss/screen.scss */
ul.stockists a {
  text-decoration: none;
}

/* line 539, ../scss/screen.scss */
.about-menu {
  background-color: whitesmoke;
  font-family: 'Druk-Wide-Medium', sans-serif;
}
/* line 542, ../scss/screen.scss */
.about-menu ul {
  text-align: center;
}
/* line 545, ../scss/screen.scss */
.about-menu ul li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* ----- 0.0 MailChimp  ----------------------------------------------------- */
/* line 556, ../scss/screen.scss */
#mc_embed_signup {
  text-align: center;
  background: none;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%;
}

/* line 563, ../scss/screen.scss */
#mc_embed_signup input.email {
  border: .2em solid black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 1em;
  display: inline-block;
  margin: 0;
  width: 360px;
  max-width: 100%;
  vertical-align: top;
}

/* line 579, ../scss/screen.scss */
#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  border-radius: 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
}

/* line 593, ../scss/screen.scss */
#mc_embed_signup .button:hover {
  background-color: #222;
  cursor: pointer;
}

/* ----- 0.0 Magazine  ------------------------------------------------------ */
/* line 607, ../scss/screen.scss */
.issue-summary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-top: 3em;
  padding-bottom: 3em;
}
/* line 611, ../scss/screen.scss */
.issue-summary__image {
  padding-right: 3em;
}
/* line 613, ../scss/screen.scss */
.issue-summary__image figure {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
}
/* line 616, ../scss/screen.scss */
.issue-summary__image figure img {
  height: auto;
  width: 100%;
}
/* line 622, ../scss/screen.scss */
.issue-summary__detail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 3em;
  padding-top: 1em;
}
/* line 627, ../scss/screen.scss */
.issue-summary__detail-title {
  font-family: 'Graphik-Medium', sans-serif;
  padding-bottom: 1em;
}
/* line 631, ../scss/screen.scss */
.issue-summary__detail-printed {
  margin-top: 0;
  padding-bottom: 1em;
}
/* line 635, ../scss/screen.scss */
.issue-summary__detail-summary {
  padding-bottom: 3em;
}
/* line 638, ../scss/screen.scss */
.issue-summary__detail-buy {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
}

/* line 644, ../scss/screen.scss */
.issue-contents {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 0;
}
/* line 647, ../scss/screen.scss */
.issue-contents__title {
  font-family: 'Druk-Wide-Medium', sans-serif;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: .5px solid grey;
}
/* line 654, ../scss/screen.scss */
.issue-contents__content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
  border-right: .5px solid grey;
  border-bottom: .5px solid grey;
}
/* line 660, ../scss/screen.scss */
.issue-contents__content-online {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .5em;
  color: grey;
  position: absolute;
  padding-top: .5em;
}
/* line 667, ../scss/screen.scss */
.issue-contents__content-title {
  padding-top: 1.5em;
  padding-bottom: .5em;
}
/* line 671, ../scss/screen.scss */
.issue-contents__content-contributor {
  font-family: 'Druk-Wide-Medium', sans-serif;
  padding-bottom: 1.5em;
}
