/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -----  1.1 Font Definitions  --------------------------------------------- */
/* DRUK */
@font-face {
  font-family: 'Druk-Wide-Medium';
  src: url(../fonts/DrukWide-Medium-Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Graphik */
@font-face {
  font-family: 'Graphik-Medium';
  src: url(../fonts/Graphik-Medium-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Clear fix */
/* line 29, ../scss/screen.scss */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 36, ../scss/screen.scss */
* html .group {
  zoom: 1;
}

/* IE6 */
/* line 37, ../scss/screen.scss */
*:first-child + html .group {
  zoom: 1;
}

/* IE7 */
/* line 39, ../scss/screen.scss */
.center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: center;
  align-self: center;
}

/* -----  1.2 Colors  --------------------------------------------- */
/* -----  1.4 Buttons  --------------------------------------------- */
/* line 53, ../scss/screen.scss */
button {
  font-size: 13px;
  border: none;
  border-radius: 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
}

/* line 68, ../scss/screen.scss */
a.button {
  text-decoration: none;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #a200ff;
  color: #a200ff;
  padding: .75em 1em .75em 1em;
  display: inline-block;
  margin: 0;
}
/* line 77, ../scss/screen.scss */
a.button:hover {
  background-color: #a200ff;
  color: white;
}

/* -----  1.4 Images & Figures  --------------------------------------------- */
/* line 85, ../scss/screen.scss */
img {
  border-style: none;
  width: 100%;
  height: auto;
}

/* line 91, ../scss/screen.scss */
figcaption {
  font-size: .75rem;
  line-height: 1.5rem;
}

/* -----  2.1 Kirbytext  ---------------------------------------------------- */
/* line 98, ../scss/screen.scss */
.intro {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

/* line 113, ../scss/screen.scss */
.text h1, .text h2, .text h3 {
  font-family: 'Graphik-Medium', sans-serif;
}

/* line 117, ../scss/screen.scss */
.text ul, .text ol {
  margin-left: 1.5em;
}

/* line 121, ../scss/screen.scss */
.text p {
  font-weight: 400;
}

/* line 129, ../scss/screen.scss */
.text hr {
  /* We use a more muted style for horizontal rules within
     the main content. */
  color: #1f00ff;
}

/* line 135, ../scss/screen.scss */
.text ul {
  list-style: none;
}

/* line 149, ../scss/screen.scss */
.text ol > li {
  list-style: decimal;
}

/* line 153, ../scss/screen.scss */
.text pre, .text code {
  background-color: #eafded;
  font-family: Courier, monospace;
  font-size: .75rem;
}

/* line 159, ../scss/screen.scss */
.text code {
  margin: -.25em 0;
  padding: .25em .15em;
  position: relative;
  bottom: .05em;
}

/* line 166, ../scss/screen.scss */
.text pre > code {
  display: block;
  margin: 0;
  padding: .8em;
  position: static;
  bottom: auto;
  overflow-x: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* line 176, ../scss/screen.scss */
  .text pre > code {
    /* Enables smoother scrolling for code sections on
       mobile (i.e. touch) devices. */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
/* line 184, ../scss/screen.scss */
.text kbd {
  padding: 3px 7px;
  margin: -3px 2px;
  font-size: 75%;
  line-height: 1;
  background: #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c9c7d4;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  position: relative;
  bottom: 2px;
}

/* line 197, ../scss/screen.scss */
.text blockquote {
  padding: .75rem;
}
/* line 199, ../scss/screen.scss */
.text blockquote p {
  font-size: 1.5em;
}

/* line 204, ../scss/screen.scss */
.text blockquote :last-child {
  margin-bottom: 0;
}

/* -----  2.3 Grid & Layout  ------------------------------------------------ */
/* line 210, ../scss/screen.scss */
body {
  background-color: #f2f2f2;
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  padding-top: 2.9em;
}

@media screen and (max-width: 1440px) {
  /* line 219, ../scss/screen.scss */
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 980px) {
  /* line 231, ../scss/screen.scss */
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  /* line 239, ../scss/screen.scss */
  body {
    font-size: 14px;
  }
}
/* ----- 3.1  Header  ------------------------------------------------------- */
/* line 1, ../scss/_header.scss */
.header {
  position: fixed;
  z-index: 30;
  padding-top: 0;
  font-size: 0;
  width: 100%;
  background: #ffffff;
  top: 0;
  transition: top 0.2s ease-in-out;
}

/* line 14, ../scss/_header.scss */
.navigation {
  vertical-align: baseline;
  position: relative;
  display: inline-block;
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Druk-Wide-Medium', sans-serif;
}
/* line 22, ../scss/_header.scss */
.navigation a {
  text-decoration: none;
  color: black;
}
/* line 26, ../scss/_header.scss */
.navigation .hamburger {
  display: inline;
}

/* line 31, ../scss/_header.scss */
.navigation-menu {
  display: none;
}

@media all and (max-width: 500px) {
  /* line 36, ../scss/_header.scss */
  .navigation-page {
    display: none;
  }

  /* line 39, ../scss/_header.scss */
  .navigation-menu {
    display: inline;
    font-size: .7em;
  }
}
/* line 44, ../scss/_header.scss */
.nav-up {
  top: -4rem;
}

/* -----  3.2 Menu  --------------------------------------------------------- */
/* line 1, ../scss/_menu.scss */
.menu {
  text-align: center;
  font-weight: 500;
  background-color: white;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
}

/* line 14, ../scss/_menu.scss */
.menu-item {
  float: left;
  width: 20%;
}
@media (max-width: 500px) {
  /* line 14, ../scss/_menu.scss */
  .menu-item {
    display: block;
  }
}

/* line 23, ../scss/_menu.scss */
li.menu-item {
  background-color: black;
  border-bottom: 0;
}
/* line 26, ../scss/_menu.scss */
li.menu-item:hover {
  background-color: #a200ff;
}
/* line 29, ../scss/_menu.scss */
li.menu-item a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: .85em;
  padding-bottom: .85em;
}
@media (max-width: 500px) {
  /* line 23, ../scss/_menu.scss */
  li.menu-item {
    margin: 1em;
  }
}

/* line 43, ../scss/_menu.scss */
li.menu-item.is-active {
  background-color: #a200ff;
}

/* line 47, ../scss/_menu.scss */
.branding {
  vertical-align: baseline;
  display: inline-block;
  font-size: 1.5rem;
  background-color: black;
  position: relative;
  display: inline-block;
  line-height: 3rem;
  margin-bottom: 0;
  white-space: nowrap;
  text-align: center;
}

/* line 60, ../scss/_menu.scss */
li.branding.menu-item a {
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 65, ../scss/_menu.scss */
li.branding.menu-item a img {
  height: 2em;
  padding-top: .31em;
  padding-bottom: .31em;
  vertical-align: middle;
}

@media all and (min-width: 56em) {
  /* line 74, ../scss/_menu.scss */
  .menu {
    text-align: center;
  }
}
@media (min-width: 300px) {
  /* line 80, ../scss/_menu.scss */
  .hamburger {
    font-size: .8em;
    line-height: 1em;
    right: 1.5em;
  }
}
@media (min-width: 360px) {
  /* line 88, ../scss/_menu.scss */
  .hamburger {
    font-size: .8em;
    line-height: 1em;
    right: 2.8em;
  }
}
@media (min-width: 500px) {
  /* line 96, ../scss/_menu.scss */
  .hamburger, .cross {
    background: none;
    position: absolute;
    top: 0;
    right: 1em;
    line-height: 25px;
    padding: 5px 15px 0px 15px;
    color: black;
    border: 0;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
  }
}
/* -----  3.3 Footer  ------------------------------------------------------- */
/* line 1, ../scss/_footer.scss */
.footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-top: 1.5rem;
  min-height: 20vh;
  background-color: #a200ff;
  color: white;
}

/* line 9, ../scss/_footer.scss */
.footer-newsletter {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  padding-bottom: 1em;
}
/* line 13, ../scss/_footer.scss */
.footer-newsletter #mc_embed_signup input.email {
  width: 84%;
  float: left;
}
/* line 16, ../scss/_footer.scss */
.footer-newsletter #mc_embed_signup input.email::-webkit-input-placeholder {
  color: whitesmoke;
}
/* line 19, ../scss/_footer.scss */
.footer-newsletter #mc_embed_signup input.email::-moz-placeholder {
  color: whitesmoke;
}
/* line 22, ../scss/_footer.scss */
.footer-newsletter #mc_embed_signup input.email:-moz-placeholder {
  /* Older versions of Firefox */
  color: whitesmoke;
}
/* line 25, ../scss/_footer.scss */
.footer-newsletter #mc_embed_signup input.email:-ms-input-placeholder {
  color: whitesmoke;
}
/* line 29, ../scss/_footer.scss */
.footer-newsletter #mc_embed_signup .button {
  float: left;
  width: 16%;
  border-width: 3px 3px 3px 0;
}
/* line 34, ../scss/_footer.scss */
.footer-newsletter p {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.8em;
  line-height: 1.5em;
}

/* line 42, ../scss/_footer.scss */
.footer-nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  margin-top: 3em;
}

/* line 48, ../scss/_footer.scss */
.footer-links, .footer-socials {
  display: inline-block;
  margin-bottom: 1em;
}
/* line 51, ../scss/_footer.scss */
.footer-links li, .footer-socials li {
  display: inline-block;
  list-style: none;
}
/* line 54, ../scss/_footer.scss */
.footer-links li a, .footer-socials li a {
  color: inherit;
  text-decoration: none;
}

/* line 61, ../scss/_footer.scss */
.footer-links {
  float: left;
}
/* line 63, ../scss/_footer.scss */
.footer-links a {
  margin-right: 1.5em;
}

/* line 68, ../scss/_footer.scss */
.footer-socials {
  float: right;
}
/* line 70, ../scss/_footer.scss */
.footer-socials a {
  margin-left: 1.5em;
}

@media all and (min-width: 501px) {
  /* line 76, ../scss/_footer.scss */
  .footer {
    padding-top: 0;
  }
}
/* -----  Pagination  ------------------------------------------------------- */
/* line 2, ../scss/_pagination.scss */
.pagination-item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-family: 'Druk-Wide-Medium', sans-serif;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.95rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: .7em;
  padding-bottom: .7em;
  height: auto;
}
/* line 15, ../scss/_pagination.scss */
.pagination-item a {
  text-decoration: none;
}
/* line 18, ../scss/_pagination.scss */
.pagination-item a:hover {
  text-decoration: underline;
}

/* line 24, ../scss/_pagination.scss */
.pagination-item.left, .pagination-item.right {
  background-color: black;
  color: white;
}
/* line 27, ../scss/_pagination.scss */
.pagination-item.left a, .pagination-item.right a {
  color: white;
}
/* line 30, ../scss/_pagination.scss */
.pagination-item.left:hover, .pagination-item.right:hover {
  background-color: white;
  color: black;
}
/* line 33, ../scss/_pagination.scss */
.pagination-item.left:hover a, .pagination-item.right:hover a {
  color: black;
}

/* line 40, ../scss/_pagination.scss */
.is-inactive {
  color: black;
}

/* -----  3.4 Main Content  ------------------------------------------------- */
/* line 260, ../scss/screen.scss */
.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.main:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 266, ../scss/screen.scss */
.flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 272, ../scss/screen.scss */
.home-featured {
  position: relative;
  z-index: 5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 0;
  height: auto;
}
/* line 278, ../scss/screen.scss */
.home-featured img {
  height: auto;
  width: 100%;
  z-index: 10;
}
/* line 283, ../scss/screen.scss */
.home-featured-text {
  position: absolute;
  z-index: 15;
  color: #fff;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80%;
  padding: 0 10%;
  text-align: center;
  text-shadow: 0 0 8px rgba(153, 153, 153, 0.8);
  text-decoration: none;
}
/* line 295, ../scss/screen.scss */
.home-featured-title {
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 4em;
  line-height: 1em;
  padding-bottom: .5em;
}
/* line 301, ../scss/screen.scss */
.home-featured-contributor {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: 1.2em;
  line-height: 1.1em;
  text-decoration: underline;
  display: inline;
}
/* line 307, ../scss/screen.scss */
.home-featured-contributor:after {
  content: ",";
}
/* line 310, ../scss/screen.scss */
.home-featured-contributor:last-of-type:after {
  content: "";
}

/* line 316, ../scss/screen.scss */
.home-banner {
  position: relative;
  z-index: 5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 0;
  height: auto;
  margin-top: 2rem;
}
/* line 323, ../scss/screen.scss */
.home-banner img {
  height: auto;
  width: 100%;
  z-index: 10;
}

/* line 330, ../scss/screen.scss */
.home-support {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 2rem;
}

/* ----- 0.0 Online  ------------------------------------------------------ */
/* line 1, ../scss/_online.scss */
.section-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  background-color: white;
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  margin-top: 2rem;
}

/* line 10, ../scss/_online.scss */
.online-recent {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #d1d1d1;
  padding-bottom: 1em;
}
/* line 18, ../scss/_online.scss */
.online-recent article:nth-of-type(1), .online-recent article:nth-of-type(2) {
  width: 26em;
}
/* line 20, ../scss/_online.scss */
.online-recent article:nth-of-type(1) .card-large-info, .online-recent article:nth-of-type(2) .card-large-info {
  height: 18em;
}

/* line 26, ../scss/_online.scss */
.online-archive {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #d1d1d1;
  padding-bottom: 1em;
}

/* ----- 0.0 Cards  ------------------------------------------------------ */
/* line 1, ../scss/_card.scss */
.card-large, .portrait {
  width: 16.7em;
  height: 100%;
  background-color: white;
  margin: 2em 1em 1em 1em;
  padding-left: 0;
  padding-right: 0;
}
/* line 9, ../scss/_card.scss */
.card-large a, .portrait a {
  color: black;
  text-decoration: none;
}
/* line 15, ../scss/_card.scss */
.card-large-image figure img {
  display: block;
}
/* line 19, ../scss/_card.scss */
.card-large-info {
  height: 11.5em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: .5em .8em .8em .8em;
}
/* line 26, ../scss/_card.scss */
.card-large-info__group {
  top: 0.6em;
  right: 0.8em;
  bottom: 0.8em;
  left: 0.8em;
}
/* line 33, ../scss/_card.scss */
.card-large-info__title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .5em;
}
/* line 38, ../scss/_card.scss */
.card-large-info__contributor {
  font-family: 'Druk-Wide-Medium', sans-serif;
  text-align: center;
  font-size: .8em;
  text-decoration: underline;
}
/* line 43, ../scss/_card.scss */
.card-large-info__contributor::after {
  content: ",";
}
/* line 46, ../scss/_card.scss */
.card-large-info__contributor:last-of-type::after {
  content: "";
}
/* line 50, ../scss/_card.scss */
.card-large-info__issue {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  margin-bottom: 2.5em;
}
/* line 55, ../scss/_card.scss */
.card-large-info__summary {
  line-height: 1.2em;
  font-size: .8em;
}

/* line 62, ../scss/_card.scss */
.portrait {
  width: 32.4em;
  height: 23em;
}
/* line 66, ../scss/_card.scss */
.portrait a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
/* line 69, ../scss/_card.scss */
.portrait a .card-large-image {
  height: 23em;
}
/* line 71, ../scss/_card.scss */
.portrait a .card-large-image figure img {
  display: block;
  min-height: 23em;
}
/* line 76, ../scss/_card.scss */
.portrait a .card-large-info {
  width: 50%;
  min-height: 21.8em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: .5em .8em .8em .8em;
}

/* line 87, ../scss/_card.scss */
.card-small {
  width: 15em;
  height: 100%;
  background-color: white;
  margin: 2em 1em 1em 1em;
  padding-left: 0;
  padding-right: 0;
}
/* line 95, ../scss/_card.scss */
.card-small a {
  color: black;
  text-decoration: none;
}
/* line 101, ../scss/_card.scss */
.card-small-image figure img {
  display: block;
}
/* line 105, ../scss/_card.scss */
.card-small-info {
  height: 15em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: .5em .8em .8em .8em;
}
/* line 112, ../scss/_card.scss */
.card-small-info__group {
  top: 0.6em;
  right: 0.8em;
  bottom: 0.8em;
  left: 0.8em;
}
/* line 119, ../scss/_card.scss */
.card-small-info__title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .5em;
}
/* line 124, ../scss/_card.scss */
.card-small-info__contributor {
  font-family: 'Druk-Wide-Medium', sans-serif;
  text-align: center;
  font-size: .8em;
  text-decoration: underline;
}
/* line 129, ../scss/_card.scss */
.card-small-info__contributor::after {
  content: ",";
}
/* line 132, ../scss/_card.scss */
.card-small-info__contributor:last-of-type::after {
  content: "";
}
/* line 136, ../scss/_card.scss */
.card-small-info__issue {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .8em;
  margin-bottom: 2.5em;
}
/* line 141, ../scss/_card.scss */
.card-small-info__summary {
  line-height: 1.2em;
  font-size: .8em;
}

/* ----- 4.2 Article  -------------------------------------------------- */
/* line 1, ../scss/_article.scss */
.article {
  background-color: whitesmoke;
  margin-top: 3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
}
@media (max-width: 500px) {
  /* line 1, ../scss/_article.scss */
  .article {
    padding-top: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 98.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0.83333%;
  }
}
/* line 14, ../scss/_article.scss */
.article-info {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 12.5%;
}
@media (max-width: 500px) {
  /* line 14, ../scss/_article.scss */
  .article-info {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 24, ../scss/_article.scss */
.article-header {
  margin-top: 6em;
  margin-bottom: 6em;
}
/* line 28, ../scss/_article.scss */
.article-header__title {
  font-size: 2.5em;
  line-height: 1em;
}
@media (max-width: 500px) {
  /* line 28, ../scss/_article.scss */
  .article-header__title {
    line-height: 2.5em;
  }
}
/* line 36, ../scss/_article.scss */
.article-header__subtitle {
  font-size: 2.5em;
  line-height: 1em;
}
/* line 41, ../scss/_article.scss */
.article-header__contributor {
  font-size: 2.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 46, ../scss/_article.scss */
.article-header__contributor a {
  color: black;
  text-decoration: none !important;
}
/* line 49, ../scss/_article.scss */
.article-header__contributor a:hover {
  color: black;
}
/* line 53, ../scss/_article.scss */
.article-header__contributor a:after {
  content: ",";
}
/* line 56, ../scss/_article.scss */
.article-header__contributor a:last-of-type:after {
  content: "";
}
/* line 61, ../scss/_article.scss */
.article-header__date {
  text-align: center;
}
/* line 65, ../scss/_article.scss */
.article-header__meta {
  display: inline-block;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  font-size: .7em;
  margin-right: 3em;
}
/* line 73, ../scss/_article.scss */
.article-more {
  font-size: 75%;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
  white-space: nowrap;
  border-bottom: 2px solid #71efac;
}

/* line 83, ../scss/_article.scss */
.article-printed {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 3em;
  right: 0;
}
@media (max-width: 500px) {
  /* line 83, ../scss/_article.scss */
  .article-printed {
    display: none;
  }
}
/* line 93, ../scss/_article.scss */
.article-printed figure {
  line-height: 0;
}
/* line 97, ../scss/_article.scss */
.article-printed__cover {
  height: auto;
  width: 8em;
  padding: 1em;
}
/* line 103, ../scss/_article.scss */
.article-printed__info {
  min-width: 9em;
  max-width: 9em;
  padding: .5em;
}
/* line 108, ../scss/_article.scss */
.article-printed__info p {
  color: white;
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .5em;
  line-height: 2em;
}

/* line 118, ../scss/_article.scss */
.article .text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 12.5%;
  margin-bottom: 3em;
}
@media (max-width: 500px) {
  /* line 118, ../scss/_article.scss */
  .article .text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0%;
  }
}
/* line 129, ../scss/_article.scss */
.article .text h2, .article .text h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 12.5%;
  font-family: 'Graphik-Medium', sans-serif;
  margin-bottom: 1em;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  /* line 129, ../scss/_article.scss */
  .article .text h2, .article .text h3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0%;
  }
}
/* line 142, ../scss/_article.scss */
.article .text ul, .article .text ol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (max-width: 500px) {
  /* line 142, ../scss/_article.scss */
  .article .text ul, .article .text ol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 151, ../scss/_article.scss */
.article .text p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 12.5%;
  margin-bottom: 1em;
}
@media (max-width: 500px) {
  /* line 151, ../scss/_article.scss */
  .article .text p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 162, ../scss/_article.scss */
.article .text figure:first-of-type {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 0%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 4em;
}
@media (max-width: 500px) {
  /* line 162, ../scss/_article.scss */
  .article .text figure:first-of-type {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0%;
  }
}
/* line 175, ../scss/_article.scss */
.article .text figure {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 12.5%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1em;
}
@media (max-width: 500px) {
  /* line 175, ../scss/_article.scss */
  .article .text figure {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 187, ../scss/_article.scss */
.article .text figure figcaption {
  font-size: .7em;
}
/* line 189, ../scss/_article.scss */
.article .text figure figcaption a {
  text-decoration: none;
}
/* line 195, ../scss/_article.scss */
.article .text hr {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 16.66667%;
  margin-bottom: 1.8em;
  height: 1px;
  background: black;
  border: 0;
}
/* line 204, ../scss/_article.scss */
.article .text ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (max-width: 500px) {
  /* line 204, ../scss/_article.scss */
  .article .text ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 213, ../scss/_article.scss */
.article .text ol > li {
  list-style: decimal;
}
/* line 217, ../scss/_article.scss */
.article .text pre, .article .text code {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (max-width: 500px) {
  /* line 217, ../scss/_article.scss */
  .article .text pre, .article .text code {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 226, ../scss/_article.scss */
.article .text blockquote {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 1.75em;
  line-height: 1.75em;
  margin-bottom: 0;
}
@media (max-width: 500px) {
  /* line 226, ../scss/_article.scss */
  .article .text blockquote {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 237, ../scss/_article.scss */
.article .text blockquote p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 1.5em;
  margin-top: .4em;
  margin-left: 0;
}
@media (max-width: 500px) {
  /* line 237, ../scss/_article.scss */
  .article .text blockquote p {
    margin-left: 0;
  }
}

/* line 251, ../scss/_article.scss */
.article-credit__contributor {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 12.5%;
  display: inline-block;
  font-size: .7em;
  margin-top: 3em;
  margin-bottom: 6em !important;
}
/* line 258, ../scss/_article.scss */
.article-credit__contributor a {
  color: black;
  font-size: .8em;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #a200ff;
  padding-bottom: .2em;
  padding-top: .2em;
  text-decoration: none;
}
/* line 269, ../scss/_article.scss */
.article-credit__contributor a:hover {
  color: black;
  text-decoration: none;
  background-color: #a200ff;
}
/* line 276, ../scss/_article.scss */
.article-credit__printed, .article-credit__uploaded {
  font-family: 'Druk-Wide-Medium', sans-serif;
  margin-bottom: 0 !important;
  font-size: .8em;
  line-height: 1.5em;
}

/* line 284, ../scss/_article.scss */
.article-end {
  border-color: #a200ff;
  color: #a200ff;
  text-align: center;
}
/* line 288, ../scss/_article.scss */
.article-end p {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 0 !important;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #a200ff;
}
/* line 296, ../scss/_article.scss */
.article-end__chat {
  width: 100%;
  padding: 2em 0 2em 0;
  line-height: 1em;
}
/* line 301, ../scss/_article.scss */
.article-end p.article-end__support {
  border-width: 0 3px 0 3px;
}
/* line 304, ../scss/_article.scss */
.article-end a.article-end__button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 37.5%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 1.6em;
  line-height: 1em;
  display: inline-block;
  border-width: 0;
  width: 50%;
  text-decoration: none;
  color: #a200ff;
  padding: 1.1em 0 1.1em 0;
  margin: 0;
}
/* line 315, ../scss/_article.scss */
.article-end a.article-end__button:hover {
  background-color: #a200ff;
  color: white;
}
/* line 319, ../scss/_article.scss */
.article-end a.article-end__button:last-of-type {
  border-width: 0 0 0 3px;
}
/* line 323, ../scss/_article.scss */
.article-end__share {
  width: 100%;
  padding: .5em 0 0 0;
  text-align: center;
  font-size: 1.6em;
  float: none;
}
/* line 329, ../scss/_article.scss */
.article-end__share a {
  text-align: center;
  color: #a200ff;
  text-decoration: none;
}
/* line 333, ../scss/_article.scss */
.article-end__share a i.fa {
  padding: .4em;
}
/* line 336, ../scss/_article.scss */
.article-end__share a i.fa:hover, .article-end__share a i.fa:focus {
  background-color: #a200ff;
  color: white;
}

/* ----- 0.0 About  --------------------------------------------------------- */
/* line 5, ../scss/_about.scss */
.info-nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  padding-top: 3em;
  padding-bottom: 3em;
  float: none;
  text-align: right;
}
/* line 12, ../scss/_about.scss */
.info-nav a {
  font-family: 'Druk-Wide-Medium', sans-serif;
  margin-left: 1em;
}

/* line 18, ../scss/_about.scss */
.info-jump {
  position: relative;
  top: -3em;
}

/* line 27, ../scss/_about.scss */
.info-section {
  padding-top: 4em;
  padding-bottom: 6em;
}
/* line 28, ../scss/_about.scss */
.info-section__wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
}
/* line 34, ../scss/_about.scss */
.info-section h1, .info-section h2 {
  padding-bottom: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: 1.6em;
}
/* line 40, ../scss/_about.scss */
.info-section p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  float: right;
}

/* line 46, ../scss/_about.scss */
.info-stockists {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
  padding-right: 0;
}
/* line 50, ../scss/_about.scss */
.info-stockists h1, .info-stockists h2 {
  padding-bottom: 1em;
}

/* line 55, ../scss/_about.scss */
.stockists {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 57, ../scss/_about.scss */
.stockists_stock {
  border-color: white;
  border-style: solid;
  border-width: 0 0 3px 0;
}
/* line 61, ../scss/_about.scss */
.stockists_stock:first-of-type {
  border-width: 3px 0 3px 0;
}
/* line 64, ../scss/_about.scss */
.stockists_stock a {
  display: block;
  padding-top: .7em;
  padding-bottom: .7em;
}
/* line 69, ../scss/_about.scss */
.stockists_stock p {
  color: white;
  display: inline;
}
/* line 73, ../scss/_about.scss */
.stockists_stock div {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
}
/* line 80, ../scss/_about.scss */
.stockists_stock:hover {
  background-color: white;
}
/* line 82, ../scss/_about.scss */
.stockists_stock:hover p {
  color: black;
}
/* line 86, ../scss/_about.scss */
.stockists_location {
  width: 50%;
  text-align: right;
}
/* line 90, ../scss/_about.scss */
.stockists_stockist {
  width: 50%;
  text-align: left;
}

/* line 96, ../scss/_about.scss */
ul.stockists {
  margin-left: 0;
}
/* line 98, ../scss/_about.scss */
ul.stockists a {
  text-decoration: none;
}

/* line 103, ../scss/_about.scss */
#about, #contribute, #stockists {
  background-color: black;
  color: white;
}

/* line 108, ../scss/_about.scss */
#stockists {
  padding-bottom: 6em;
}

/* line 112, ../scss/_about.scss */
#contact, #distribute {
  background-color: white;
  color: black;
}

/* ----- 0.0 MailChimp  ----------------------------------------------------- */
/* line 1, ../scss/_mailchimp.scss */
#mc_embed_signup {
  text-align: center;
  background: none;
  clear: left;
  width: 100%;
  font-family: 'Graphik-Medium', sans-serif !important;
}

/* line 9, ../scss/_mailchimp.scss */
#mc_embed_signup input.email {
  font-family: inherit;
  font-size: 1em;
  border: 3px solid black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: white;
  background-color: transparent;
  box-sizing: border-box;
  height: 3em;
  padding: 0px 1em;
  display: inline-block;
  margin: 0;
  width: 360px;
  max-width: 100%;
  vertical-align: top;
}

/* line 28, ../scss/_mailchimp.scss */
#mc_embed_signup .button {
  font-family: inherit;
  font-size: 1em;
  border: 3px solid black;
  border-radius: 0;
  color: #fff;
  background-color: black;
  box-sizing: border-box;
  height: 3em;
  padding: 0 1.5em;
  display: inline-block;
  margin: 0;
}

/* line 42, ../scss/_mailchimp.scss */
#mc_embed_signup .button:hover {
  background-color: transparent;
  cursor: pointer;
}

/* ----- 0.0 Magazine  ------------------------------------------------------ */
/* line 2, ../scss/_magazine.scss */
.magazine-intro {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
}
/* line 5, ../scss/_magazine.scss */
.magazine-intro p {
  padding-top: .85em;
  padding-bottom: .85em;
}

/* line 16, ../scss/_magazine.scss */
.issue-summary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-bottom: 3em;
}
@media all and (max-width: 500px) {
  /* line 16, ../scss/_magazine.scss */
  .issue-summary {
    padding-top: 2em;
  }
}
/* line 22, ../scss/_magazine.scss */
.issue-summary__image {
  padding-right: 3em;
}
/* line 24, ../scss/_magazine.scss */
.issue-summary__image figure {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
}
@media all and (max-width: 500px) {
  /* line 24, ../scss/_magazine.scss */
  .issue-summary__image figure {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 5%;
  }
}
/* line 31, ../scss/_magazine.scss */
.issue-summary__image figure img {
  height: auto;
  width: 100%;
}
/* line 36, ../scss/_magazine.scss */
.issue-summary__image .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 43, ../scss/_magazine.scss */
.issue-summary__image .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 51, ../scss/_magazine.scss */
.issue-summary__image .rslides li:first-child {
  position: relative;
  display: inline-block;
  float: left;
}
/* line 56, ../scss/_magazine.scss */
.issue-summary__image .rslides img {
  display: inline-block;
  height: auto;
  float: left;
  width: auto;
  height: 100%;
  border: 0;
}
/* line 66, ../scss/_magazine.scss */
.issue-summary__detail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 25%;
  padding-top: 3.5em;
}
@media all and (max-width: 500px) {
  /* line 66, ../scss/_magazine.scss */
  .issue-summary__detail {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}
/* line 75, ../scss/_magazine.scss */
.issue-summary__detail-title {
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 2.5em;
  padding-bottom: .4em;
}
/* line 80, ../scss/_magazine.scss */
.issue-summary__detail-printed {
  margin-top: 0;
  font-size: .7em;
  padding-bottom: 3em;
}
/* line 85, ../scss/_magazine.scss */
.issue-summary__detail-summary {
  padding-bottom: 2em;
}
/* line 88, ../scss/_magazine.scss */
.issue-summary__detail-buy {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 25%;
}
@media all and (max-width: 500px) {
  /* line 88, ../scss/_magazine.scss */
  .issue-summary__detail-buy {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 4.16667%;
  }
}

/* line 98, ../scss/_magazine.scss */
.issue-contents {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 0;
  padding-bottom: 3em;
}
/* line 102, ../scss/_magazine.scss */
.issue-contents__title {
  font-family: 'Druk-Wide-Medium', sans-serif;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: .5px solid grey;
}
/* line 108, ../scss/_magazine.scss */
.issue-contents__title h1 {
  display: inline-block;
}
/* line 111, ../scss/_magazine.scss */
.issue-contents__title i {
  padding: .3em;
}
/* line 120, ../scss/_magazine.scss */
.issue-contents__content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  border-style: solid;
  border-width: 0 3px 3px 3px;
  line-height: 1.3em;
}
@media all and (max-width: 500px) {
  /* line 120, ../scss/_magazine.scss */
  .issue-contents__content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 131, ../scss/_magazine.scss */
.issue-contents__content:nth-of-type(1) {
  border-width: 3px 3px 3px 3px;
}
/* line 134, ../scss/_magazine.scss */
.issue-contents__content a {
  display: block;
  color: black;
  text-decoration: none;
}
/* line 140, ../scss/_magazine.scss */
.issue-contents__content:hover {
  background-color: black;
}
/* line 142, ../scss/_magazine.scss */
.issue-contents__content:hover .issue-contents__content-title, .issue-contents__content:hover .issue-contents__content-online, .issue-contents__content:hover .issue-contents__content-contributor {
  color: white;
}
/* line 146, ../scss/_magazine.scss */
.issue-contents__content.offline {
  color: lightgrey;
}
/* line 148, ../scss/_magazine.scss */
.issue-contents__content.offline:hover {
  color: lightgrey;
}
/* line 153, ../scss/_magazine.scss */
.issue-contents__content:hover.offline .issue-contents__content-title, .issue-contents__content:hover.offline .issue-contents__content-online, .issue-contents__content:hover.offline .issue-contents__content-contributor {
  color: lightgrey;
}
/* line 157, ../scss/_magazine.scss */
.issue-contents__content-online {
  font-family: 'Druk-Wide-Medium', sans-serif;
  font-size: .5em;
  color: grey;
  position: absolute;
  padding-top: .5em;
}
/* line 164, ../scss/_magazine.scss */
.issue-contents__content-title {
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* line 169, ../scss/_magazine.scss */
.issue-contents__content-contributor {
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  display: inline-block;
}
/* line 176, ../scss/_magazine.scss */
.issue-contents__content-contributor span:after {
  content: ",";
}
/* line 179, ../scss/_magazine.scss */
.issue-contents__content-contributor span:last-of-type:after {
  content: "";
}

/* line 188, ../scss/_magazine.scss */
.magazine-more {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: black;
}
/* line 192, ../scss/_magazine.scss */
.magazine-more__explore {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  display: block;
  color: white;
  font-family: 'Druk-Wide-Medium', sans-serif;
  padding-left: 3em;
  padding-bottom: 1.5em;
}
/* line 200, ../scss/_magazine.scss */
.magazine-more__issues {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* line 205, ../scss/_magazine.scss */
.magazine-more__issue-cover {
  display: inline-block;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 213, ../scss/_magazine.scss */
.magazine-more__issue-cover:nth-of-type(-n+3) {
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* line 220, ../scss/_magazine.scss */
.magazine-more__issue-hover {
  position: relative;
  background-color: #a200ff;
}
/* line 223, ../scss/_magazine.scss */
.magazine-more__issue-hover h5 {
  display: none;
  text-align: center;
  color: white;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 234, ../scss/_magazine.scss */
.magazine-more__issue-hover img {
  display: block;
}
/* line 238, ../scss/_magazine.scss */
.magazine-more__issue-hover:hover h5 {
  display: block;
}
/* line 241, ../scss/_magazine.scss */
.magazine-more__issue-hover:hover img {
  opacity: 0;
}

/* ----- 0.0 Contributors  ------------------------------------------------------ */
/* line 1, ../scss/_contributors.scss */
.alphabet-letter {
  width: 100%;
  font-family: 'Druk-Wide-Medium', sans-serif;
  margin-left: .5em;
  margin-top: 2em;
}

/* line 8, ../scss/_contributors.scss */
.contributors-intro {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 14, ../scss/_contributors.scss */
.contributors-intro h1 {
  margin-left: .5em;
}

/* line 19, ../scss/_contributors.scss */
.contributors-flex-center {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 4.16667%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 27, ../scss/_contributors.scss */
.contributors {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

/* line 33, ../scss/_contributors.scss */
.contributor {
  margin: .5em;
  margin-bottom: 1.2em;
}
/* line 37, ../scss/_contributors.scss */
.contributor a {
  color: black;
  text-decoration: none;
}
/* line 42, ../scss/_contributors.scss */
.contributor-wrap {
  display: -webkit-flex;
  display: flex;
}
/* line 47, ../scss/_contributors.scss */
.contributor-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: white;
}
/* line 54, ../scss/_contributors.scss */
.contributor-info, .contributor-profilepic {
  height: 9em;
  width: 9em;
}
/* line 59, ../scss/_contributors.scss */
.contributor-profilepic {
  background-color: yellow;
  vertical-align: bottom;
}
/* line 64, ../scss/_contributors.scss */
.contributor-name {
  font-family: 'Druk-Wide-Medium', sans-serif;
  line-height: 1.1em;
  font-size: .7em;
}
/* line 70, ../scss/_contributors.scss */
.contributor-role {
  font-size: .7em;
  line-height: 1.1em;
}
/* line 73, ../scss/_contributors.scss */
.contributor-role li {
  display: inline;
}
/* line 76, ../scss/_contributors.scss */
.contributor-role li::after {
  content: ", ";
}
/* line 79, ../scss/_contributors.scss */
.contributor-role li:last-child::after {
  content: "";
}
/* line 88, ../scss/_contributors.scss */
.contributor h1, .contributor ul {
  padding: 12px;
}

/* ----- 0.0 Support Bar  ------------------------------------------------------ */
/* line 1, ../scss/_support.scss */
.support-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
  background-color: red;
}
/* line 5, ../scss/_support.scss */
.support-bar__plea {
  font-size: .8em;
  padding-top: 1.5em;
  padding-bottom: .5em;
}
/* line 10, ../scss/_support.scss */
.support-bar__buttons {
  padding-top: .5em;
  padding-bottom: 1.5em;
}
/* line 14, ../scss/_support.scss */
.support-bar__button {
  display: inline-block;
  height: 6em;
  width: 6em;
  line-height: 6em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1em;
  margin-left: .2em;
  margin-right: .2em;
}
